<%- include("../../layouts/manager/head.ejs") -%>
    <!-- support-section start -->
    <div class="col-xl-12 col-md-12">

        <div class="card">
            <form method="POST" action="/manager/campaigns/tv/edit/<%= campaignsTv.campaign_tv_id %>"  enctype="multipart/form-data">
            <div class="card-header">
                <h5>Modifier une campagne tv </h5>
            </div>

   
            <div class="card-body">
                <% if (message) { %>
                    <div class="alert alert-<%=message.type%> alert-dismissible fade show text-dark" role="alert">
                        <%=message.intro%>:<%=message.message%>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>            
                <% } %>
            
                <div class="form-group">
                    <label class="form-label" for="campaign_tv_name">Nom de la campagne</label>
                    <input
                        type="text"
                        name="campaign_tv_name"
                        id="campaign_tv_name"
                        class="form-control"
                        value="<%= campaignsTv.campaign_tv_name %>"
                        required="required" readonly="readonly"/>
                </div>
               
               
                <div class="form-group">
                    <label class="form-label" for="planmedia_file">Fichier</label>
                    <input type="file" name="planmedia_file" id="planmedia_file" class="form-control"
                        placeholder="Uploader un fichier Excel" required="required" />
                </div>
               
            
            <div class="card-footer">
                <input
                    type="submit"
                    name="submit"
                    class="btn btn-primary mr-2 btn-submit"
                    value="Modifier la campagne tv"/>
            </div>
        </form>
        </div>

    </div>

    <%- include("../../layouts/manager/footer.ejs") -%>