<%- include("../layouts/admin/head.ejs") -%>

    <table>


        <table border="1px">
            <thead>
                <tr>
                    <th>CampaignName</th>
                    <th>CampaignId</th>
                    <th>FormatName</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>ClickRate</th>

                </tr>
            </thead>   
            <tbody>
                <% for (let i=0; i < table.CampaignName.length; i++) { %>
                  
                <tr>
                 

                    <td><%=table.CampaignName[i]%></td>
                    <td><%=table.CampaignId[i]%></td>
                    <td><%=table.FormatName[i]%></td>
                    <td><%=table.Impressions[i]%></td>
                    <td><%=table.Clicks[i]%></td>
                    <td><%=table.ClickRate[i]%></td>

                </tr>

                <% } %>

            </tbody>
          

        </table>
    </table>

    <%- include("../layouts/admin/footer.ejs") -%>