<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WCLMFB5');
    </script>
    <!-- End Google Tag Manager -->
    <title>Bilan de la campagne </title>

    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
        sizes="32x32" />
    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-192x192.png"
        sizes="192x192" />
    <link rel="apple-touch-icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-180x180.png" />

    <style>
        body {
            background: #eee;
            font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif
        }

        #reporting-board {
            background: #fff
        }

        hr {
            margin-top: 10px;
            border-color: #ddd;
        }

        .list-group-flush {
            width: 100%
        }

        .list-group-flush li strong {
            width: 20%;
            display: inline-block
        }

        img {
            image-rendering: -webkit-optimize-contrast
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCLMFB5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <div class="container p-2 mt-2 mb-2 shadow-lg rounded" id="reporting-board">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 30px;">
            <strong>Les statistiques de cette campagne sont mises à jour toutes les 2 heures. (Prochaine MAJ
                :<%=data_expirer%> )</strong>


            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <div class="row p-3 m-5">
            <div class="col-md-3">
                <a href="https://antennesb.fr/">
                    <img src="/admin/photos/logo.png" alt="logo_antenne" /></a>

            </div>
            <div class="col-md-9">
                <h2 class="position-absolute top-50 start-50">Rapport de la campagne : <%=table.Campagne_name%></h2>
            </div>
        </div>

        <div class="row p-3 m-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Date de génération</strong> : <%=table.Date_rapport%> </li>
                <li class="list-group-item"><strong>Nom de la campagne</strong> : <%=table.Campagne_name%></li>
                <li class="list-group-item"><strong>Période diffusion</strong> : Du <%=table.StartDate%> au
                    <%=table.EndDate%></li>

            </ul>
        </div>

        <hr />





        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Bilan global de la campagne </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>
                        <th scope="col">Visiteur Unique</th>
                        <th scope="col">Répétition</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=table.total_impression_format%></td>
                        <td><%=table.total_click_format%></td>
                        <td><%=table.CTR%>%</td>
                        <td><%=table.Total_VU%></td>
                        <td><%=table.Repetition%></td>


                    </tr>
                </tbody>
            </table>

        </div>
        <% if(table.TotalComplete > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Bilan global de la campagne vidéo</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Impressions vidéo</th>
                        <th scope="col">Clics vidéo</th>
                        <th scope="col">Taux de clics vidéo</th>

                        <th scope="col">Total Complete</th>
                        <th scope="col">VTR%</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>
                        <% if(table.TotalComplete > 0 ) { %>
                        <td><%=table.TotalComplete%></td>
                        <td><%=table.VTR%>%</td>
                        <% }%>

                    </tr>
                </tbody>
            </table>

        </div>

        <% }%>


        <div class="row p-3 m-5" id="table_global_format">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par Format / global </h3>


            <table class="table" id="table_campaigns">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Format</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>

                <tbody>
                    <% if(table.sommeHabillageImpression  !== '0' ) { %>

                    <tr>

                        <td>HABILLAGE</td>
                        <td><%=table.sommeHabillageImpression%></td>
                        <td><%=table.sommeHabillageClicks%></td>
                        <td><%=table.CTR_habillage%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeInterstitielImpression !== '0' ) { %>

                    <tr>

                        <td>INTERSTITIEL</td>
                        <td><%=table.sommeInterstitielImpression%></td>
                        <td><%=table.sommeInterstitielClicks%></td>
                        <td><%=table.CTR_interstitiel%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeMastheadImpression  !== '0') { %>

                    <tr>

                        <td>MASTHEAD</td>
                        <td><%=table.sommeMastheadImpression%></td>
                        <td><%=table.sommeMastheadClicks%></td>
                        <td><%=table.CTR_masthead%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeGrand_AngleImpression  !== '0' ) { %>

                    <tr>

                        <td>GRAND ANGLE</td>
                        <td><%=table.sommeGrand_AngleImpression%></td>
                        <td><%=table.sommeGrand_AngleClicks%></td>
                        <td><%=table.CTR_grand_angle%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeNativeImpression  !== '0') { %>

                    <tr>

                        <td>NATIVE</td>
                        <td><%=table.sommeNativeImpression%></td>
                        <td><%=table.sommeNativeClicks%></td>
                        <td><%=table.CTR_native%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeVideoImpression  !== '0' ) { %>

                    <tr>

                        <td>VIDEO</td>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>

                    </tr>
                    <% } %>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=table.total_impression_format%></td>
                        <td><%=table.total_click_format%></td>
                        <td><%=table.CTR%>%</td>
                    </tr>
                </tfoot>
                </tbody>

            </table>


        </div>
        <hr />

        <% if(data_habillage.habillageImpressions.length > 0  ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par HABILLAGE / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>
                    <% if (data_habillage.total_impressions_linfoHabillage !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_linfo_siteName%></td>
                        <td><%=data_habillage.total_impressions_linfoHabillage%></td>
                        <td><%=data_habillage.total_clicks_linfoHabillage%></td>
                        <td><%=data_habillage.habillage_linfo_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_linfo_androidHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_linfo_android_siteName%></td>
                        <td><%=data_habillage.total_impressions_linfo_androidHabillage%></td>
                        <td><%=data_habillage.total_clicks_linfo_androidHabillage%></td>
                        <td><%=data_habillage.habillage_linfo_android_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_linfo_iosHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_linfo_ios_siteName%></td>
                        <td><%=data_habillage.total_impressions_linfo_iosHabillage%></td>
                        <td><%=data_habillage.total_clicks_linfo_iosHabillage%></td>
                        <td><%=data_habillage.habillage_linfo_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_dtjHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_dtj_siteName%></td>
                        <td><%=data_habillage.total_impressions_dtjHabillage%></td>
                        <td><%=data_habillage.total_clicks_dtjHabillage%></td>
                        <td><%=data_habillage.habillage_dtj_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_antenneHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_antenne_siteName%></td>
                        <td><%=data_habillage.total_impressions_antenneHabillage%></td>
                        <td><%=data_habillage.total_clicks_antenneHabillage%></td>
                        <td><%=data_habillage.habillage_antenne_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_orangeHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_orange_siteName%></td>
                        <td><%=data_habillage.total_impressions_orangeHabillage%></td>
                        <td><%=data_habillage.total_clicks_orangeHabillage%></td>
                        <td><%=data_habillage.habillage_orange_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_tf1Habillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_tf1_siteName%></td>
                        <td><%=data_habillage.total_impressions_tf1Habillage%></td>
                        <td><%=data_habillage.total_clicks_tf1Habillage%></td>
                        <td><%=data_habillage.habillage_tf1_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_m6Habillage !== 0 ) { %>


                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_m6_siteName%></td>
                        <td><%=data_habillage.total_impressions_m6Habillage%></td>
                        <td><%=data_habillage.total_clicks_m6Habillage%></td>
                        <td><%=data_habillage.habillage_m6_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_dailymotionHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_dailymotion_siteName%></td>
                        <td><%=data_habillage.total_impressions_dailymotionHabillage%></td>
                        <td><%=data_habillage.total_clicks_dailymotionHabillage%></td>
                        <td><%=data_habillage.habillage_dailymotion_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_actu_iosHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_actu_ios_siteName%></td>
                        <td><%=data_habillage.total_impressions_actu_iosHabillage%></td>
                        <td><%=data_habillage.total_clicks_actu_iosHabillage%></td>
                        <td><%=data_habillage.habillage_actu_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_habillage.total_impressions_actu_androidHabillage !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_habillage.habillage_actu_android_siteName%></td>
                        <td><%=data_habillage.total_impressions_actu_androidHabillage%></td>
                        <td><%=data_habillage.total_clicks_actu_androidHabillage%></td>
                        <td><%=data_habillage.habillage_actu_android_ctr%>%</td>


                    </tr>
                    <% }%>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_habillage.sommehabillageImpressions%></td>
                        <td><%=data_habillage.sommehabillageClics%></td>
                        <td><%=data_habillage.habillageCTR_clics%>%</td>

                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />
        <% }%>



        <% if(data_interstitiel.interstitielImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par INTERSTITIEL / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>
                <tbody>

                    <% if (data_interstitiel.total_impressions_linfoInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_linfo_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_linfoInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_linfoInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_linfo_ctr%>%</td>


                    </tr>
                    <% }%>


                    <% if (data_interstitiel.total_impressions_linfo_androidInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_linfo_android_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_linfo_androidInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_linfo_androidInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_linfo_android_ctr%>%</td>


                    </tr>

                    <% }%>

                    <% if (data_interstitiel.total_impressions_linfo_iosInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_linfo_ios_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_linfo_iosInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_linfo_iosInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_linfo_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_dtjInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_dtj_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_dtjInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_dtjInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_dtj_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_antenneInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_antenne_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_antenneInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_antenneInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_antenne_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_orangeInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_orange_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_orangeInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_orangeInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_orange_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_tf1Interstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_tf1_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_tf1Interstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_tf1Interstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_tf1_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_m6Interstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_m6_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_m6Interstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_m6Interstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_m6_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_dailymotionInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_dailymotion_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_dailymotionInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_dailymotionInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_dailymotion_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_actu_iosInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_actu_ios_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_actu_iosInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_actu_iosInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_actu_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_interstitiel.total_impressions_actu_androidInterstitiel !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_interstitiel.interstitiel_actu_android_siteName%></td>
                        <td><%=data_interstitiel.total_impressions_actu_androidInterstitiel%></td>
                        <td><%=data_interstitiel.total_clicks_actu_androidInterstitiel%></td>
                        <td><%=data_interstitiel.interstitiel_actu_android_ctr%>%</td>


                    </tr>
                    <% }%>



                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_interstitiel.sommeinterstitielImpressions%></td>
                        <td><%=data_interstitiel.sommeinterstitielClics%></td>
                        <td><%=data_interstitiel.interstitielCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>



        <% if(data_video.videoImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par VIDEO / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">

                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>
                        <th scope="col">VTR</th>


                    </tr>

                </thead>
                <tbody>
                    <% if (data_video.total_impressions_linfo_androidVideo !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_linfo_siteName%></td>
                        <td><%=data_video.total_impressions_linfoVideo%></td>
                        <td><%=data_video.total_clicks_linfoVideo%></td>
                        <td><%=data_video.video_linfo_ctr%>%</td>
                        <td><%=data_video.VTR_linfo%>%</td>



                    </tr>
                    <% }%>


                    <% if (data_video.total_impressions_linfo_androidVideo !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_linfo_android_siteName%></td>
                        <td><%=data_video.total_impressions_linfo_androidVideo%></td>
                        <td><%=data_video.total_clicks_linfo_androidVideo%></td>
                        <td><%=data_video.video_linfo_android_ctr%>%</td>
                        <td><%=data_video.VTR_linfo_android%>%</td>


                    </tr>
                    <% }%>


                    <% if (data_video.total_impressions_linfo_iosVideo !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_linfo_ios_siteName%></td>
                        <td><%=data_video.total_impressions_linfo_iosVideo%></td>
                        <td><%=data_video.total_clicks_linfo_iosVideo%></td>
                        <td><%=data_video.video_linfo_ios_ctr%>%</td>
                        <td><%=data_video.VTR_linfo_ios%>%</td>



                    </tr>
                    <% }%>


                    <% if (data_video.total_impressions_dtjVideo !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_dtj_siteName%></td>
                        <td><%=data_video.total_impressions_dtjVideo%></td>
                        <td><%=data_video.total_clicks_dtjVideo%></td>
                        <td><%=data_video.video_dtj_ctr%>%</td>
                        <td><%=data_video.VTR_dtj%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_antenneVideo !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_antenne_siteName%></td>
                        <td><%=data_video.total_impressions_antenneVideo%></td>
                        <td><%=data_video.total_clicks_antenneVideo%></td>
                        <td><%=data_video.video_antenne_ctr%>%</td>
                        <td><%=data_video.VTR_antenne%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_orangeVideo !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_orange_siteName%></td>
                        <td><%=data_video.total_impressions_orangeVideo%></td>
                        <td><%=data_video.total_clicks_orangeVideo%></td>
                        <td><%=data_video.video_orange_ctr%>%</td>
                        <td><%=data_video.VTR_orange%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_tf1Video !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_tf1_siteName%></td>
                        <td><%=data_video.total_impressions_tf1Video%></td>
                        <td><%=data_video.total_clicks_tf1Video%></td>
                        <td><%=data_video.video_tf1_ctr%>%</td>
                        <td><%=data_video.VTR_tf1%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_m6Video !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_m6_siteName%></td>
                        <td><%=data_video.total_impressions_m6Video%></td>
                        <td><%=data_video.total_clicks_m6Video%></td>
                        <td><%=data_video.video_m6_ctr%>%</td>
                        <td><%=data_video.VTR_m6%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_dailymotionVideo !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_dailymotion_siteName%></td>
                        <td><%=data_video.total_impressions_dailymotionVideo%></td>
                        <td><%=data_video.total_clicks_dailymotionVideo%></td>
                        <td><%=data_video.video_dailymotion_ctr%>%</td>
                        <td><%=data_video.VTR_dailymotion%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_video.total_impressions_actu_iosVideo !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_actu_ios_siteName%></td>
                        <td><%=data_video.total_impressions_actu_iosVideo%></td>
                        <td><%=data_video.total_clicks_actu_iosVideo%></td>
                        <td><%=data_video.video_actu_ios_ctr%>%</td>
                        <td><%=data_video.VTR_actu_ios%>%</td>


                    </tr>
                    <% }%>


                    <% if (data_video.total_impressions_actu_androidVideo !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_video.video_actu_android_siteName%></td>
                        <td><%=data_video.total_impressions_actu_androidVideo%></td>
                        <td><%=data_video.total_clicks_actu_androidVideo%></td>
                        <td><%=data_video.video_actu_android_ctr%>%</td>
                        <td><%=data_video.VTR_actu_android%>%</td>


                    </tr>
                    <% }%>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>
                        <td><%=table.VTR%>%</td>

                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>



        <% if(data_masthead.mastheadImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par MASTHEAD / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>
                    <% if (data_masthead.total_impressions_linfoMasthead !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_linfo_siteName%></td>
                        <td><%=data_masthead.total_impressions_linfoMasthead%></td>
                        <td><%=data_masthead.total_clicks_linfoMasthead%></td>
                        <td><%=data_masthead.masthead_linfo_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_linfo_androidMasthead !== 0 ) { %>
                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_linfo_android_siteName%></td>
                        <td><%=data_masthead.total_impressions_linfo_androidMasthead%></td>
                        <td><%=data_masthead.total_clicks_linfo_androidMasthead%></td>
                        <td><%=data_masthead.masthead_linfo_android_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_linfo_iosMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_linfo_ios_siteName%></td>
                        <td><%=data_masthead.total_impressions_linfo_iosMasthead%></td>
                        <td><%=data_masthead.total_clicks_linfo_iosMasthead%></td>
                        <td><%=data_masthead.masthead_linfo_ios_ctr%>%</td>


                    </tr>
                    <% }%>


                    <% if (data_masthead.total_impressions_dtjMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_dtj_siteName%></td>
                        <td><%=data_masthead.total_impressions_dtjMasthead%></td>
                        <td><%=data_masthead.total_clicks_dtjMasthead%></td>
                        <td><%=data_masthead.masthead_dtj_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_antenneMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_antenne_siteName%></td>
                        <td><%=data_masthead.total_impressions_antenneMasthead%></td>
                        <td><%=data_masthead.total_clicks_antenneMasthead%></td>
                        <td><%=data_masthead.masthead_antenne_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_orangeMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_orange_siteName%></td>
                        <td><%=data_masthead.total_impressions_orangeMasthead%></td>
                        <td><%=data_masthead.total_clicks_orangeMasthead%></td>
                        <td><%=data_masthead.masthead_orange_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_tf1Masthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_tf1_siteName%></td>
                        <td><%=data_masthead.total_impressions_tf1Masthead%></td>
                        <td><%=data_masthead.total_clicks_tf1Masthead%></td>
                        <td><%=data_masthead.masthead_tf1_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_m6Masthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_m6_siteName%></td>
                        <td><%=data_masthead.total_impressions_m6Masthead%></td>
                        <td><%=data_masthead.total_clicks_m6Masthead%></td>
                        <td><%=data_masthead.masthead_m6_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_dailymotionMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_dailymotion_siteName%></td>
                        <td><%=data_masthead.total_impressions_dailymotionMasthead%></td>
                        <td><%=data_masthead.total_clicks_dailymotionMasthead%></td>
                        <td><%=data_masthead.masthead_dailymotion_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_actu_iosMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_actu_ios_siteName%></td>
                        <td><%=data_masthead.total_impressions_actu_iosMasthead%></td>
                        <td><%=data_masthead.total_clicks_actu_iosMasthead%></td>
                        <td><%=data_masthead.masthead_actu_ios_ctr%>%</td>



                    </tr>
                    <% }%>

                    <% if (data_masthead.total_impressions_actu_androidMasthead !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_masthead.masthead_actu_android_siteName%></td>
                        <td><%=data_masthead.total_impressions_actu_androidMasthead%></td>
                        <td><%=data_masthead.total_clicks_actu_androidMasthead%></td>
                        <td><%=data_masthead.masthead_actu_android_ctr%>%</td>



                    </tr>
                    <% }%>





                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_masthead.sommemastheadImpressions%></td>
                        <td><%=data_masthead.sommemastheadClics%></td>
                        <td><%=data_masthead.mastheadCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>

        <% if(data_grand_angle.grand_angleImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par GRAND ANGLE / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>

                    <% if (data_grand_angle.total_impressions_linfoGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_linfo_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_linfoGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_linfoGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_linfo_ctr%>%</td>


                    </tr>

                    <% }%>

                    <% if (data_grand_angle.total_impressions_linfo_androidGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_linfo_android_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_linfo_androidGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_linfo_androidGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_linfo_android_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_linfo_iosGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_linfo_ios_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_linfo_iosGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_linfo_iosGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_linfo_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_dtjGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_dtj_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_dtjGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_dtjGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_dtj_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_antenneGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_antenne_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_antenneGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_antenneGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_antenne_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_orangeGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_orange_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_orangeGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_orangeGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_orange_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_tf1GrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_tf1_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_tf1GrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_tf1GrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_tf1_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_m6GrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_m6_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_m6GrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_m6GrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_m6_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_dailymotionGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_dailymotion_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_dailymotionGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_dailymotionGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_dailymotion_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_actu_iosGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_actu_ios_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_actu_iosGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_actu_iosGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_actu_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_grand_angle.total_impressions_actu_androidGrandAngle !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_grand_angle.grandAngle_actu_android_siteName%></td>
                        <td><%=data_grand_angle.total_impressions_actu_androidGrandAngle%></td>
                        <td><%=data_grand_angle.total_clicks_actu_androidGrandAngle%></td>
                        <td><%=data_grand_angle.grandAngle_actu_android_ctr%>%</td>


                    </tr>
                    <% }%>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_grand_angle.sommegrand_angleImpressions%></td>
                        <td><%=data_grand_angle.sommegrand_angleClics%></td>
                        <td><%=data_grand_angle.grand_angleCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>




        <% if(data_native.nativeImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par NATIVE / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>

                    <% if (data_native.total_impressions_linfoNative !== 0 ) { %>


                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_linfo_siteName%></td>
                        <td><%=data_native.total_impressions_linfoNative%></td>
                        <td><%=data_native.total_clicks_linfoNative%></td>
                        <td><%=data_native.native_linfo_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_linfo_androidNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_linfo_android_siteName%></td>
                        <td><%=data_native.total_impressions_linfo_androidNative%></td>
                        <td><%=data_native.total_clicks_linfo_androidNative%></td>
                        <td><%=data_native.native_linfo_android_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_linfo_iosNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_linfo_ios_siteName%></td>
                        <td><%=data_native.total_impressions_linfo_iosNative%></td>
                        <td><%=data_native.total_clicks_linfo_iosNative%></td>
                        <td><%=data_native.native_linfo_ios_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_dtjNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_dtj_siteName%></td>
                        <td><%=data_native.total_impressions_dtjNative%></td>
                        <td><%=data_native.total_clicks_dtjNative%></td>
                        <td><%=data_native.native_dtj_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_antenneNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_antenne_siteName%></td>
                        <td><%=data_native.total_impressions_antenneNative%></td>
                        <td><%=data_native.total_clicks_antenneNative%></td>
                        <td><%=data_native.native_antenne_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_orangeNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_orange_siteName%></td>
                        <td><%=data_native.total_impressions_orangeNative%></td>
                        <td><%=data_native.total_clicks_orangeNative%></td>
                        <td><%=data_native.native_orange_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_tf1Native !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_tf1_siteName%></td>
                        <td><%=data_native.total_impressions_tf1Native%></td>
                        <td><%=data_native.total_clicks_tf1Native%></td>
                        <td><%=data_native.native_tf1_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_m6Native !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_m6_siteName%></td>
                        <td><%=data_native.total_impressions_m6Native%></td>
                        <td><%=data_native.total_clicks_m6Native%></td>
                        <td><%=data_native.native_m6_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_dailymotionNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_dailymotion_siteName%></td>
                        <td><%=data_native.total_impressions_dailymotionNative%></td>
                        <td><%=data_native.total_clicks_dailymotionNative%></td>
                        <td><%=data_native.native_dailymotion_ctr%>%</td>


                    </tr>
                    <% }%>

                    <% if (data_native.total_impressions_actu_iosNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_actu_ios_siteName%></td>
                        <td><%=data_native.total_impressions_actu_iosNative%></td>
                        <td><%=data_native.total_clicks_actu_iosNative%></td>
                        <td><%=data_native.native_actu_ios_ctr%>%</td>


                    </tr>
                    <% }%>


                    <% if (data_native.total_impressions_actu_androidNative !== 0 ) { %>

                    <tr>
                        <!-- Agrega par format / site  -->
                        <td><%=data_native.native_actu_android_siteName%></td>
                        <td><%=data_native.total_impressions_actu_androidNative%></td>
                        <td><%=data_native.total_clicks_actu_androidNative%></td>
                        <td><%=data_native.native_actu_android_ctr%>%</td>


                    </tr>
                    <% }%>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_native.sommenativeImpressions%></td>
                        <td><%=data_native.sommenativeClics%></td>
                        <td><%=data_native.nativeCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>









    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {


            //appel ajax ici


            //compte le nombre de tr du tableau 
            $.fn.rowCount = function () {
                return $('tr', $(this).find('tbody')).length;
            };
            var rowctr = $('#table_campaigns').rowCount();

            //si le tableau des formats global contien qu'une ligne on affiche pas
            if (rowctr <= 1) {
                //console.log('No of Rows:' + rowctr);
                $("#table_global_format").hide();


            }


        })
        //attention version en ligne (en tête)
    </script>

</body>

</html>