
                 <%- include("message.ejs") -%>

                <div class="form-group">
                    <label class="form-label" for="advertiser_id">Annonceur
                    </label>
                    <select
                        class="form-control"
                        id="advertiser_id"
                        name="advertiser_id"
                        required="required">
                        <option value="">Choisir un annonceur</option>
                        <% for (let i=0; i < advertisers.length; i++) { %>
                            <option value="<%= advertisers[i].advertiser_id %>"><%= advertisers[i].advertiser_name %></option>
                        <% } %>
                    </select>
                </div>
               
                    <div class="form-group">
                        <label class="form-label" for="campaign_epilot_name">Nom de la campagne</label>
                        <input
                            type="text"
                            name="campaign_epilot_name"
                            id="campaign_epilot_name"
                            class="form-control"
                            placeholder="Saisissez le nom de la campagne sur EPILOT"
                            required="required"/>
                    </div>
                            
                <div class="row">
                    <div class="form-group col-6">
                        <label class="form-label" for="campaign_epilot_start_date">Date de début de la campagne</label>
                        <input
                            type="date"
                            name="campaign_epilot_start_date"
                            id="campaign_epilot_start_date"
                            class="form-control"
                            placeholder="Saisissez la date de début de la campagne"
                            required="required"/>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-label" for="campaign_epilot_end_date">Date de fin de la campagne</label>
                        <input
                            type="date"
                            name="campaign_epilot_end_date"
                            id="campaign_epilot_end_date"
                            class="form-control"
                            placeholder="Saisissez la date de fin de la campagne"
                            required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="form-label" for="format_id">Format
                        </label>
                        <select
                            class="form-control"
                            id="format_id"
                            name="format_id"
                            required="required">
                            <option value="">Choisir un format</option>
                            <% for (let i=0; i < formats.length; i++) { %>
                                <option value="<%= formats[i].format_id %>"><%= formats[i].format_name %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-label" for="campaign_epilot_volume">Volume à diffuser</label>
                        <input
                            type="number"
                            name="campaign_epilot_volume"
                            id="campaign_epilot_volume"
                            class="form-control"
                            placeholder="Saisissez le volume à diffuser"
                            required="required"
                            />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input
                    type="submit"
                    name="submit"
                    class="btn btn-primary mr-2 btn-submit"
                    value="Créer une nouvelle campagne"/>
            </div>