<div class="table-responsive">
    <table class="table table-striped table_sort">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < roles.length; i++) { %>
            <tr>
                <td><a href="/manager/users/roles/<%= roles[i].role_id %>"
                        title="<%= roles[i].role_name %>"><%= roles[i].role_id %></a></td>
                <td><a href="/manager/users/roles/<%= roles[i].role_id %>"
                        title="<%= roles[i].role_name %>"><%= roles[i].role_name %></a></td>
                <td>
                    <a href="/manager/users/roles/<%= roles[i].role_id %>/edit" title="Modifier ce rôle"><i
                            class="icon feather icon-edit f-16 text-success"></i></a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>