<div class="table-responsive">
    <table class="table table-striped table_sort">
        <thead>
            <tr>
                <th>#</th>
                <th>Prénom Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < users.length; i++) { %>
            <tr>
                <td><a href="/manager/users/<%= users[i].user_id %>"
                        title="<%= users[i].user_id %>"><%= users[i].user_id %></a></td>
                <td><a href="/manager/users/<%= users[i].user_id %>"
                        title="<%= users[i].user_firstname %> <%= users[i].user_lastname %>"><%= users[i].user_firstname %>
                        <%= users[i].user_lastname %></a></td>
                <td><a href="/manager/users/<%= users[i].user_id %>"
                        title="<%= users[i].user_email %>"><%= users[i].user_email %></a></td>
                <td>
                   <%
                   switch (users[i].roles_user.role_id) {
                    case 1: %>
                    <span class="badge bg-danger">Administrateur</span>
                      <% break;
                    case 2: %>
                    <span class="badge bg-success">Commercial</span>
                    <% break;
                    case 3: %>
                    <span class="badge bg-warning">ADV</span>
                    <% break;                   
                  }  %>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="/manager/users/<%= users[i].user_id %>" title="Visualiser" class="btn btn-sm"><i
                                class="icon feather icon-eye f-16 text-info"></i></a>
                        <a href="/manager/users/<%= users[i].user_id %>/edit" title="Modifier" class="btn btn-sm"><i
                                class="icon feather icon-edit f-16 text-success"></i></a>
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>