<div class="table-responsive">
    <table class="table table-striped table_sort">
        <thead>
            <tr>
                <th>#</th>
                <th class="format_name">Nom</th>
                <th>Groupe</th>
                <th>Dimensions</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < formats.length; i++) { %>
            <tr>
                <td><a href="/manager/formats/<%= formats[i].format_id %>"
                        title="<%= formats[i].format_name %>"><%= formats[i].format_id %></a></td>
                <td><a href="/manager/formats/<%= formats[i].format_id %>"
                        title="<%= formats[i].format_name %>"><%= formats[i].format_name %></a></td>
                <td><%= formats[i].format_group %></td>
                <td><%= formats[i].format_width %> x <%= formats[i].format_height %></td>
                <td><%= formats[i].format_type_id %></td>
                <td>
                    <a href="/manager/formats/<%= formats[i].format_id %>/edit" title="Modifier ce format"><i
                            class="icon feather icon-edit f-16 text-success"></i></a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>