<% if (advertisers && (advertisers.length > 0)) { %>
<table class="table table-striped table-grid">
    <thead>
        <th class="text-center">Status</th>
        <th class="text-center"><span class="fa fa-key" title="N°"><em class="d-none">N°</em></span></th>
        <th class="text-center">Annonceur</th>
        <th class="text-center">Campagnes</th>
        <th class="text-center"><span class="fa fa-cogs" title="Actions"><em class="d-none">Actions</em></span></th>
    </thead>
    <tbody>
        <% for(i = 0; i < advertisers.length; i++){ %>
            <tr>
                <td><%- advertisers[i].advertiser_status -%></td>
                <td><a href="/advertisers/<%- advertisers[i].advertiser_id -%>" title="<%- advertisers[i].advertiser_name -%>"><%- advertisers[i].advertiser_id -%></a></td>
                <td><a href="/advertisers/<%- advertisers[i].advertiser_id -%>" title="<%- advertisers[i].advertiser_name -%>"><%- advertisers[i].advertiser_name -%></a></td>
                <td>-</td>
                <td>-</td>
            </tr>    
        <% } %>
    </tbody>
</table>
<% } else { %>
<div class="alert alert-danger">Aucun annonceur.</div>
<% } %>