<%- include("../../layouts/manager/head.ejs") -%>


    <div class="col-xl-6 col-md-12">
		<div id="card-forecast" class="card">
			<div class="card-header">
				<h1 class="card-title">
					Disponibilités
				</h1>
			</div>

			<div class="card-body">

				<form action="/forecast/add" id="forecast" method="POST">
					<div class="row">
						<div class="form-group col-6">
								<label class="form-label" for="date_start">Date de début</label>
								<input type="date" class="form-control" name="date_start" id="date_start"
									value="" required />
							</div>
						
							<div class="form-group col-6">
								<label class="form-label" for="date_end">Date de fin</label>
								<input type="date" class="form-control" name="date_end" id="date_end"
									value="" required />
							</div>
					</div>
				
					<div class="row">
						<div class="form-group">
							<label class="form-label" for="format">Format</label>
							<select class="form-control" name="format" onchange="myFunction()" id="format"
								required="required">
								<option value="">Sélectionner un format</option>
								<% for(let i=0; i < formats.length; i++) {%>
								<option onchange="myFunction()" value="<%= formats[i].format_group %>">
									<%= formats[i].format_group %></option>
								<% } %>
							</select>
						</div>
					</div>

					<div class="row">
					<div class="form-group">
						<label class="form-label" for="packs">Pack</label>
						<select class="form-control" name="packs" id="packs" required="required">
							<% for(let i=0; i < packs.length; i++) {%>
							<option value="<%= packs[i].pack_id %>"
								<%- (packs[i].pack_id == '1') ? 'selected="selected"' : '' -%>>
								<%= packs[i].pack_name %>
							</option>
							<% } %>
						</select>
					</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label class="form-label" for="countries">Géolocalisation</label> 
							<% for(let i=0; i < countrys.length; i++) {%>
							<label class="form-check-label"><%= countrys[i].country_name %></label>
							<input class="form-check-input" type="checkbox" name="countries" id="countries"
								value="<%= countrys[i].country_id %>"
								<%- (countrys[i].country_id == '61') ? 'checked="checked"' : '' -%>>
							<% } %>
						</div>
					</div>

					<%  if (locals.user.role === 1) { %>
					<div class="form-group" id="myDIV">
						<label class="form-check-label">Élargir la proposition</label>
						<input class="form-check-input" type="checkbox" name="case" id="myCheck" value="false" onclick="coche()" /><
						<p><small>Vous pouvez en cochant cette case avoir d'autres propositions formats</small></p>
					</div>
					<% } %>

			</div>
			<div class="card-footer">
				<div class="col-sm-12 text-right">
					<input type="submit" name="submit" class="btn btn-block btn-default"
						value="Demande d'inventaire" />
				</div>
			</div>
			</form>
		</div>
	</div>
		
	<script>
		const now = new Date();

		var timestamp_now = now.setDate(now.getDate() + 1);
		var timestamp_end = now.setDate(now.getDate() + 15);

		const date_start_last = new Date(timestamp_now)
		const date_end_last = new Date(timestamp_end)

		document.getElementById("date_start").valueAsDate = date_start_last;
		document.getElementById("date_end").valueAsDate = date_end_last;
	</script>

<%- include("../../layouts/manager/footer.ejs") -%>
