<%- include("../../layouts/manager/head.ejs") -%>
<div class="col-sm-12" id="user-main">
    <div class="card">
        <div class="card-header">
            <h1><%= user.user_firstname %> <%= user.user_lastname %></h1>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="col-md-8 col-sm-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">info</i> ID</span>: <a href="/manager/users/<%= user.user_id %>" title="<%= user.user_firstname %> <%= user.user_lastname %>"><%= user.user_id %></a></li>
           </ul>

          <hr />

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">history</i> Dernière mise à jour</span>: <abbr title="<%= user.updated_at %>"><%= moment(user.updated_at).fromNow() %></abbr></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-12">

        </div>

    </div>

        </div>
    </div>
</div>

<div class="col-sm-12" id="user-campaigns">
    <div class="card">
        <div class="card-header">
            <h3>Campagnes</h3>
        </div>
        <div class="card-body">
            <% if(campaigns) { %>
                <%- include("../inc/table_campaigns.ejs") -%> 
            <% } else { %>
                <div class="alert alert-warning" role="alert">
                   Aucune campagne.
                </div> 
            <% } %>
        </div>
    </div>
</div>

<%- include("../../layouts/manager/footer.ejs") -%>