<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <title>Bilan de la campagne </title>

    <style>
        body {
            background: #eee;
            font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif
        }

        #reporting-board {
            background: #fff
        }

        hr {
            margin-top: 10px;
            border-color: #ddd;
        }

        .list-group-flush {
            width: 100%
        }

        .list-group-flush li strong {
            width: 20%;
            display: inline-block
        }
    </style>
</head>

<body>
    <div class="container p-2 mt-2 mb-2 shadow-lg rounded" id="reporting-board">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 30px;">
            <strong>Les statistiques de cette campagne sont mises à jour toutes les 2 heures. (Prochaine MAJ
                :<%=data_expirer%> )</strong>


            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <div class="row p-3 m-5">
            <div class="col-md-3"><img
                    src="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-1-151x89.png"
                    alt="" /></div>
            <div class="col-md-9">
                <h2 class="position-absolute top-50 start-50">Rapport de la campagne : <%=table.Campagne_name%></h2>
            </div>
        </div>

        <div class="row p-3 m-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Date de génération</strong> : <%=table.Date_rapport%> </li>
                <li class="list-group-item"><strong>Nom de la campagne</strong> : <%=table.Campagne_name%></li>
                <li class="list-group-item"><strong>Période diffusion</strong> : Du <%=table.StartDate%> au
                    <%=table.EndDate%></li>

            </ul>
        </div>

        <hr />





        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Bilan global de la campagne </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>
                        <th scope="col">Visiteur Unique</th>
                        <th scope="col">Répétition</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=table.total_impression_format%></td>
                        <td><%=table.total_click_format%></td>
                        <td><%=table.CTR%>%</td>
                        <td><%=table.Total_VU%></td>
                        <td><%=table.Repetition%></td>


                    </tr>
                </tbody>
            </table>

        </div>
        <% if(table.TotalComplete > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Bilan global de la campagne vidéo</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Impressions vidéo</th>
                        <th scope="col">Clics vidéo</th>
                        <th scope="col">Taux de clics vidéo</th>

                        <th scope="col">Total Complete</th>
                        <th scope="col">VTR%</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>
                        <% if(table.TotalComplete > 0 ) { %>
                        <td><%=table.TotalComplete%></td>
                        <td><%=table.VTR%>%</td>
                        <% }%>

                    </tr>
                </tbody>
            </table>

        </div>

        <% }%>

        <div class="row p-3 m-5">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par site </h3>


            <table class="table" id="table_campaigns">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Sites</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>

                <tbody>
                    <% if(table.sommeinfoImpression  !== 0 ) { %>

                    <tr>

                        <td>SM_LINFO.re</td>
                        <td><%=table.sommeinfoImpression,%></td>
                        <td><%=table.sommeinfoClicks%></td>
                        <td><%=table.CTR_info%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeinfo_iosImpression !== 0 ) { %>

                    <tr>

                        <td>SM_LINFO-IOS</td>
                        <td><%=table.sommeinfo_iosImpression%></td>
                        <td><%=table.sommeinfo_iosClicks%></td>
                        <td><%=table.CTR_info_ios%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeinfo_androidImpression  !== 0) { %>

                    <tr>

                        <td>SM_LINFO-ANDROID</td>
                        <td><%=table.sommeinfo_androidImpression%></td>
                        <td><%=table.sommeinfo_androidClicks%></td>
                        <td><%=table.CTR_info_android%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommetf1Impression  !== 0 ) { %>

                    <tr>

                        <td>TF1</td>
                        <td><%=table.sommetf1Impression%></td>
                        <td><%=table.sommetf1Clicks%></td>
                        <td><%=table.CTR_tf1%>%</td>

                    </tr>
                    <% } %>

                    <% if(table.sommem6Impression  !== 0 ) { %>

                    <tr>

                        <td>M6</td>
                        <td><%=table.sommem6Impression%></td>
                        <td><%=table.sommem6Clicks%></td>
                        <td><%=table.CTR_m6%>%</td>

                    </tr>
                    <% } %>


                    <% if(table.sommerz_iosImpression  !== 0) { %>

                    <tr>

                        <td>RODZAFER-IOS</td>
                        <td><%=table.sommerz_iosImpression%></td>
                        <td><%=table.sommerz_iosClicks%></td>
                        <td><%=table.CTR_rz_ios%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommearImpression  !== 0 ) { %>

                    <tr>

                        <td>SM_ANTENNE</td>
                        <td><%=table.sommearImpression%></td>
                        <td><%=table.sommearClicks%></td>
                        <td><%=table.CTR_ar%>%</td>

                    </tr>
                    <% } %>

                    <% if(table.sommerz_androidImpression  !== 0) { %>

                    <tr>

                        <td>RODZAFER-ANDROID</td>
                        <td><%=table.sommerz_androidImpression%></td>
                        <td><%=table.sommerz_androidClicks%></td>
                        <td><%=table.CTR_rz_android%>%</td>

                    </tr>
                    <% } %>


                    <% if(table.sommedtjImpression  !== 0) { %>

                    <tr>

                        <td>DTJ</td>
                        <td><%=table.sommedtjImpression%></td>
                        <td><%=table.sommedtjClicks%></td>
                        <td><%=table.CTR_dtj%>%</td>

                    </tr>
                    <% } %>




                    <% if(table.sommeorangeImpression  !== 0) { %>

                    <tr>

                        <td>ORANGE</td>
                        <td><%=table.sommeorangeImpression%></td>
                        <td><%=table.sommeorangeClicks%></td>
                        <td><%=table.CTR_orange%>%</td>

                    </tr>
                    <% } %>



                    <% if(table.sommeimmo974Impression  !== 0) { %>

                    <tr>

                        <td>IMMO974</td>
                        <td><%=table.sommeimmo974Impression%></td>
                        <td><%=table.sommeimmo974Clicks%></td>
                        <td><%=table.CTR_immo974%>%</td>

                    </tr>
                    <% } %>


                    <% if(table.sommeactu_iosImpression  !== 0) { %>

                    <tr>

                        <td>ACTU-IOS</td>
                        <td><%=table.sommeactu_iosImpression%></td>
                        <td><%=table.sommeactu_iosClicks%></td>
                        <td><%=table.CTR_actu_ios%>%</td>

                    </tr>
                    <% } %>



                    <% if(table.sommeactu_androidImpression  !== 0) { %>

                    <tr>

                        <td>ACTU-ANDROID</td>
                        <td><%=table.sommeactu_androidImpression%></td>
                        <td><%=table.sommeactu_androidClicks%></td>
                        <td><%=table.CTR_actu_android%>%</td>

                    </tr>
                    <% } %>


                    <% if(table.sommerzImpression  !== 0) { %>

                    <tr>

                        <td>RODZAFER-LP</td>
                        <td><%=table.sommerzImpression%></td>
                        <td><%=table.sommerzClicks%></td>
                        <td><%=table.CTR_rz%>%</td>

                    </tr>
                    <% } %>


                    <% if(table.sommedailyImpression  !== 0) { %>

                    <tr>

                        <td>DAILYMOTION</td>
                        <td><%=table.sommedailyImpression%></td>
                        <td><%=table.sommedailyClicks%></td>
                        <td><%=table.CTR_daily%>%</td>

                    </tr>
                    <% } %>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=table.total_impression_format%></td>
                        <td><%=table.total_click_format%></td>
                        <td><%=table.CTR%>%</td>
                    </tr>
                </tfoot>
                </tbody>

            </table>


        </div>
        <hr />

        <div class="row p-3 m-5">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par Format / global </h3>


            <table class="table" id="table_campaigns">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Format</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>

                <tbody>
                    <% if(table.sommeHabillageImpression  !== '0' ) { %>

                    <tr>

                        <td>HABILLAGE</td>
                        <td><%=table.sommeHabillageImpression%></td>
                        <td><%=table.sommeHabillageClicks%></td>
                        <td><%=table.CTR_habillage%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeInterstitielImpression !== '0' ) { %>

                    <tr>

                        <td>INTERSTITIEL</td>
                        <td><%=table.sommeInterstitielImpression%></td>
                        <td><%=table.sommeInterstitielClicks%></td>
                        <td><%=table.CTR_interstitiel%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeMastheadImpression  !== '0') { %>

                    <tr>

                        <td>MASTHEAD</td>
                        <td><%=table.sommeMastheadImpression%></td>
                        <td><%=table.sommeMastheadClicks%></td>
                        <td><%=table.CTR_masthead%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeGrand_AngleImpression  !== '0' ) { %>

                    <tr>

                        <td>GRAND ANGLE</td>
                        <td><%=table.sommeGrand_AngleImpression%></td>
                        <td><%=table.sommeGrand_AngleClicks%></td>
                        <td><%=table.CTR_grand_angle%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeNativeImpression  !== '0') { %>

                    <tr>

                        <td>NATIVE</td>
                        <td><%=table.sommeNativeImpression%></td>
                        <td><%=table.sommeNativeClicks%></td>
                        <td><%=table.CTR_native%>%</td>

                    </tr>
                    <% } %>
                    <% if(table.sommeVideoImpression  !== '0' ) { %>

                    <tr>

                        <td>VIDEO</td>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>

                    </tr>
                    <% } %>


                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=table.total_impression_format%></td>
                        <td><%=table.total_click_format%></td>
                        <td><%=table.CTR%>%</td>
                    </tr>
                </tfoot>
                </tbody>

            </table>


        </div>
        <hr />

        <% if(data_habillage.habillageImpressions.length > 0  ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par HABILLAGE / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>

                    <% for (let i=0; i < data_habillage.habillageImpressions.length; i++) { %>
                    <% if(data_habillage.habillageImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_habillage.habillageSitename[i]%></td>
                        <td><%=data_habillage.habillageImpressions[i]%></td>
                        <td><%=data_habillage.habillageClicks[i]%></td>
                        <td><%=data_habillage.habillageCTR[i]%>%</td>


                    </tr>
                    <% } %>


                    <% } %>

                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_habillage.sommehabillageImpressions%></td>
                        <td><%=data_habillage.sommehabillageClics%></td>
                        <td><%=data_habillage.habillageCTR_clics%>%</td>

                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />
        <% }%>



        <% if(data_interstitiel.interstitielImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par INTERSTITIEL / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>
                <tbody>


                    <% for (let i=0; i < data_interstitiel.interstitielImpressions.length; i++) { %>
                    <% if(data_interstitiel.interstitielImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_interstitiel.interstitielSitename[i]%></td>
                        <td><%=data_interstitiel.interstitielImpressions[i]%></td>
                        <td><%=data_interstitiel.interstitielClicks[i]%></td>
                        <td><%=data_interstitiel.interstitielCTR[i]%>%</td>


                    </tr>


                    <% } %>

                    <% } %>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_interstitiel.sommeinterstitielImpressions%></td>
                        <td><%=data_interstitiel.sommeinterstitielClics%></td>
                        <td><%=data_interstitiel.interstitielCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>



        <% if(data_video.videoImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par VIDEO / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>

                    </tr>
                </thead>
                <tbody>


                    <% for (let i=0; i < data_video.videoImpressions.length; i++) { %>
                    <% if(data_video.videoImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_video.videoSitename[i]%></td>
                        <td><%=data_video.videoImpressions[i]%></td>
                        <td><%=data_video.videoClicks[i]%></td>
                        <td><%=data_video.videoCTR[i]%>%</td>


                    </tr>


                    <% } %>

                    <% } %>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=table.sommeVideoImpression%></td>
                        <td><%=table.sommeVideoClicks%></td>
                        <td><%=table.CTR_video%>%</td>

                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>



        <% if(data_masthead.mastheadImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par MASTHEAD / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>


                    <% for (let i=0; i < data_masthead.mastheadImpressions.length; i++) { %>
                    <% if(data_masthead.mastheadImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_masthead.mastheadSitename[i]%></td>
                        <td><%=data_masthead.mastheadImpressions[i]%></td>
                        <td><%=data_masthead.mastheadClicks[i]%></td>
                        <td><%=data_masthead.mastheadCTR[i]%>%</td>


                    </tr>

                    <% } %>

                    <% } %>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_masthead.sommemastheadImpressions%></td>
                        <td><%=data_masthead.sommemastheadClics%></td>
                        <td><%=data_masthead.mastheadCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>

        <% if(data_grand_angle.grand_angleImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par GRAND ANGLE / par sites
            </h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>


                    <% for (let i=0; i < data_grand_angle.grand_angleImpressions.length; i++) { %>
                    <% if(data_grand_angle.grand_angleImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_grand_angle.grand_angleSitename[i]%></td>
                        <td><%=data_grand_angle.grand_angleImpressions[i]%></td>
                        <td><%=data_grand_angle.grand_angleClicks[i]%></td>
                        <td><%=data_grand_angle.grand_angleCTR[i]%>%</td>


                    </tr>

                    <% } %>

                    <% } %>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_grand_angle.sommegrand_angleImpressions%></td>
                        <td><%=data_grand_angle.sommegrand_angleClics%></td>
                        <td><%=data_grand_angle.grand_angleCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>




        <% if(data_native.nativeImpressions.length > 0 ) { %>
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title"><i class="fas fa-chart-line"></i> Par NATIVE / par sites</h3>

            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">SiteName</th>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>


                    </tr>
                </thead>
                <tbody>


                    <% for (let i=0; i < data_native.nativeImpressions.length; i++) { %>
                    <% if(data_native.nativeImpressions[i] != '' ) { %>
                    <tr>
                        <td><%=data_native.nativeSitename[i]%></td>
                        <td><%=data_native.nativeImpressions[i]%></td>
                        <td><%=data_native.nativeClicks[i]%></td>
                        <td><%=data_native.nativeCTR[i]%>%</td>


                    </tr>

                    <% } %>

                    <% } %>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><%=data_native.sommenativeImpressions%></td>
                        <td><%=data_native.sommenativeClics%></td>
                        <td><%=data_native.nativeCTR_clics%>%</td>


                    </tr>
                </tfoot>
                </tbody>
            </table>

        </div>
        <hr />

        <% }%>









    </div>




</body>

</html>