<%- include("../layouts/admin/head.ejs") -%>



<div id="card-forecast" class="card" style="margin-top: 30px;">
    <div class="card-header">
        <h1 class="card-title">
            Insertions par Creatives
        </h1>
    </div>

    <div class="card-body">


        <br>
        <h3>Liste des alerts</h3>
        <hr>




        <% for(let i=0; i < creatives.length; i++) { %>

        <div class="alert alert-danger alert-dismissible fade show " role="alert" style="border-radius: 49px; box-shadow: 1px 2px 3px rgb(116, 114, 114) ">



            <strong>Danger:</strong> Url ou extention de la créative est mal programmé!

            <a href="https://manage.smartadserver.com/Admin/Campagnes/Insertion/MediaCenter.aspx?insertionid=<%=creatives[i].insertion_id%>"
                class="btn btn-xs btn-danger pull-right" target="_blank">Voir la créatve</a>
            <a href='https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%=creatives[i].insertion.campaign_id%>'
                class="btn btn-xs btn-warning pull-right"target="_blank">
                Campagne </a>
            <a href='https://manage.smartadserver.com/gestion/smartprog3.asp?InsertionID=<%=creatives[i].insertion_id%>'
                class="btn btn-xs btn-warning pull-right"target="_blank">
                Insertion </a>


            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>






        <% } %>




    </div>
</div>





<%- include("../layouts/admin/footer.ejs") -%>