<%- include("../layouts/admin/head.ejs") -%>

    <div id="card-forecast" class="card" style="margin-top: 30px;">
        <div class="card-header">
            <h1 class="card-title">
                Insertions par Creatives
            </h1>
        </div>

        <div class="card-body">

            <br>
            <h3>Liste des alerts</h3>
            <hr>

            <% for(let i=0; i < creatives.length; i++) { %>

                <div
                    class="alert alert-danger alert-dismissible fade show "
                    role="alert"
                    style="border-radius: 49px; box-shadow: 1px 2px 3px rgb(116, 114, 114) ">

                    <a
                        class="example-image-link"
                        href="<%=creatives[i].creative_url%>"
                        data-lightbox="example-1">
                        <img class="example-image" src="<%=creatives[i].creative_url%>" alt="image-1"/>
                    </a>

                    <strong>Danger:</strong>
                    Url ou extention de la créative est mal programmé!

                    <a
                        href="https://manage.smartadserver.com/Admin/Campagnes/Insertion/MediaCenter.aspx?insertionid=<%=creatives[i].insertion_id%>"
                        class="btn btn-xs btn-danger pull-right"
                        target="_blank">Voir la créatve</a>
                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%=creatives[i].campaign_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Campagne
                    </a>
                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog3.asp?InsertionID=<%=creatives[i].insertion_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Insertion
                    </a>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <% } %>

            <% for(let i=0; i < insertions.length; i++) { %>

                <div
                    class="alert alert-warning alert-dismissible fade show text-dark"
                    role="alert"
                    style="border-radius: 49px; box-shadow: 1px 2px 3px rgb(116, 114, 114) ">

                    <strong>Attention:</strong>
                    la Campagne est programmé mais pas en ligne !

                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%=insertions[i].campaign_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Campagne
                    </a>
                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog3.asp?InsertionID=<%=insertions[i].insertion_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Insertion
                    </a>
                    <p>
                        <strong>Annonceur :
                            <%=insertions[i].campaign.advertiser.advertiser_name%></strong>
                    </p>
                    <p>
                        <strong>Campagne :
                            <%=insertions[i].campaign.campaign_name%></strong>
                    </p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <% } %>

            <% for(let i=0; i < formatstemplates.length; i++) { %>

                <div
                    class="alert alert-info alert-dismissible fade show text-dark"
                    role="alert"
                    style="border-radius: 49px; box-shadow: 1px 2px 3px rgb(116, 114, 114) ">

                    <strong>Attention :</strong>
                    Le template choisi ne correspond pas au format !

                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%=formatstemplates[i].campagne_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Campagne
                    </a>
                    <a
                        href='https://manage.smartadserver.com/gestion/smartprog3.asp?InsertionID=<%=formatstemplates[i].insertion_id%>'
                        class="btn btn-xs btn-warning pull-right"
                        target="_blank">
                        Insertion
                    </a>
                    <hr>
                    <p>
                        <strong>Campagne :
                            <%=formatstemplates[i].campagne_name%></strong>
                    </p>
                    <p>
                        <strong>Insertion :
                            <%=formatstemplates[i].insertion_name%></strong>
                    </p>
                    <p>
                        <strong>Format :
                            <%=formatstemplates[i].format_name%></strong>
                    </p>
                    <p>
                        <strong>Template :
                            <%=formatstemplates[i].template_name%></strong>
                    </p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <% } %>

        </div>
    </div>

    <%- include("../layouts/admin/footer.ejs") -%>