<%- include("../layouts/admin/head.ejs") -%>



<div id="card-forecast" class="card" style="margin-top: 30px;">
    <div class="card-header">
        <h1 class="card-title">
            Campagnes par Annonceurs
        </h1>
    </div>

    <div class="card-body">


        <br>
        <h3>Liste des campagnes</h3>
        <hr>

        <table class="table_sort">

            <thead class="text-left thead-dark">
                <tr>

                    <th scope="col">ID Campagnes</th>
                    <th scope="col">Campagnes </th>
                    <th scope="col">Annonceurs</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Lien du rapport</th>


                </tr>
            </thead>

            <tbody>
                <% for (let i=0; i < campaign.length; i++) { %>
                <tr>


                    <td><%=campaign[i].campaign_id%></td>
                    <td><%=campaign[i].campaign_name%></td>
                    <td><%=campaign[i].advertiser.advertiser_name%></td>
                    <td><%=campaign[i].campaign_start_date%></td>
                    <td><%=campaign[i].campaign_end_date%></td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="/r/<%=campaign[i].campaign_crypt%>">Permalink</a>

                    </td>


                   
                </tr>

                <% } %>

            </tbody>
        </table>




    </div>
</div>





<%- include("../layouts/admin/footer.ejs") -%>