<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ?
                '&l=' + l :
                '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f
                .parentNode
                .insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KT6H7LH');
    </script>
    <!-- End Google Tag Manager -->
    <title>Rapport de la campagne "<%= reporting.campaign.campaign_name %>" - Antenne Solutions Business</title>

    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
        sizes="32x32" />
    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-192x192.png"
        sizes="192x192" />
    <link rel="apple-touch-icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-180x180.png" />

    <style>
        body {
            background: #eee;
            font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif;
        }

        #reporting-board {
            background: #fff;
        }

        hr {
            margin-top: 10px;
            border-color: #ddd;
        }

        .list-group-flush {
            width: 100%;
        }

        .list-group-flush li strong {
            /* width: 100%; */
            display: inline-block;
        }

        img {
            image-rendering: -webkit-optimize-contrast;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6H7LH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container p-3 mt-2 mb-2 shadow-lg rounded" id="reporting-board">

        <% if(reporting.campaign.campaign_end_date > reporting.reporting_start_date) { %>
        <div class="col-12 mb-5">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Les statistiques de la campagne sont mises à jour toutes les 2 heures.</strong>
                <% if(moment(reporting.reporting_end_date).format('DD/MM/YYYY à HH:mm') > moment().format('DD/MM/YYYY à HH:mm')) { %>
                <p>La prochaine mise à jour de cette campagne se fera le <strong>
                        <%= moment(reporting.reporting_end_date).format('DD/MM/YYYY à HH:mm') %></strong></p>
                <% } %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>

        <div class="row">
            <div class="col-md-3">
                <a href="https://antennesb.fr/"><img src="/admin/photos/logo.png" alt="logo_antenne" /></a>
            </div>
            <div class="col-md-9">
                <h2 class="top-50 start-50">Rapport de la campagne :
                    <%= reporting.campaign.campaign_name %></h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="container">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Date de génération</strong>
                        :
                        <%= moment(reporting.reporting_start_date).format('DD/MM/YYYY - HH:mm'); %></li>
                    <li class="list-group-item">
                        <strong>Annonceur</strong>
                        :
                        <%= reporting.campaign.advertiser_name %></li>
                    <li class="list-group-item">
                        <strong>Campagne</strong>
                        :
                        <%= reporting.campaign.campaign_name %></li>
                    <li class="list-group-item">
                        <strong>Période de diffusion</strong>
                        : Du
                        <%= moment(reporting.campaign.campaign_start_date).format('DD/MM/YYYY') %>
                        au
                        <%= moment(reporting.campaign.campaign_end_date).format('DD/MM/YYYY') %>
                    </li>


                </ul>
            </div>
        </div>

        <div class="row p-3 mt-5 ml-2 mr-2" id="table_global">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>Bilan global de la campagne</strong>
            </h3>
        </div>

        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr class="text-center">
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                        <th>Visiteurs Uniques</th>
                        <th>Répétition</th>
                        <% if(utilities.empty(reporting.campaign.ctrComplete)) { %>
                        <th>VTR</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td><%= utilities.numStr(reporting.campaign.impressions) %></td>
                        <td><%= utilities.numStr(reporting.campaign.clicks) %></td>
                        <td><%= reporting.campaign.ctr %>%</td>
                        <% if(reporting.campaign.vu > 0) { %>
                        <td><%= utilities.numStr(reporting.campaign.vu) %></td>
                        <td><%= reporting.campaign.repetition %></td>
                        <% } else{%>
                        <td> - </td>
                        <td> - </td>
                        <% }%>

                        <% if(utilities.empty(reporting.campaign.ctrComplete)) { %>
                        <td><%= reporting.campaign.ctrComplete %>%</td>
                        <% } %>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title text-left  ">
                <i class="fas fa-chart-line"></i>
                <strong >Par format</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Format</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% if(reporting.habillage) { %>
                    <tr>
                        <td class="text-left">HABILLAGE</td>
                        <td><%= utilities.numStr(reporting.habillage.impressions) %></td>
                        <td><%= utilities.numStr(reporting.habillage.clicks) %></td>
                        <td class="text-center"><%= reporting.habillage.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.interstitiel) { %>
                    <tr>
                        <td class="text-left">INTERSTITIEL</td>
                        <td><%= utilities.numStr(reporting.interstitiel.impressions) %></td>
                        <td><%= utilities.numStr(reporting.interstitiel.clicks) %></td>
                        <td class="text-center"><%= reporting.interstitiel.ctr %>%</td>
                    </tr>
                    <% } %>

                    <% if(reporting.interstitielvideo) { %>
                        <tr>
                            <td class="text-left">INTERSTITIEL VIDEO</td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.impressions) %></td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.clicks) %></td>
                            <td class="text-center"><%= reporting.interstitielvideo.ctr %>%</td>
                        </tr>
                        <% } %>
                    <% if(reporting.instream) { %>
                    <tr>
                        <td class="text-left">INSTREAM</td>
                        <td><%= utilities.numStr(reporting.instream.impressions) %></td>
                        <td><%= utilities.numStr(reporting.instream.clicks) %></td>
                        <td class="text-center"><%= reporting.instream.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.masthead) { %>
                    <tr>
                        <td class="text-left">MASTHEAD</td>
                        <td><%= utilities.numStr(reporting.masthead.impressions) %></td>
                        <td><%= utilities.numStr(reporting.masthead.clicks) %></td>
                        <td class="text-center"><%= reporting.masthead.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.grandangle) { %>
                    <tr>
                        <td class="text-left">GRAND ANGLE</td>
                        <td><%= utilities.numStr(reporting.grandangle.impressions) %></td>
                        <td><%= utilities.numStr(reporting.grandangle.clicks) %></td>
                        <td class="text-center"><%= reporting.grandangle.ctr %>%</td>

                    </tr>
                    <% } %>
                    <% if(reporting.rectanglevideo) { %>
                    <tr>
                        <td class="text-left">RECTANGLE VIDEO</td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.clicks) %></td>
                        <td class="text-center"><%= reporting.rectanglevideo.ctr %>%</td>

                    </tr>
                    <% } %>
                    <% if(reporting.rectangle) { %>
                        <tr>
                            <td class="text-left">RECTANGLE</td>
                            <td><%= utilities.numStr(reporting.rectangle.impressions) %></td>
                            <td><%= utilities.numStr(reporting.rectangle.clicks) %></td>
                            <td class="text-center"><%= reporting.rectangle.ctr %>%</td>
    
                        </tr>
                        <% } %>
                    <% if(reporting.logo) { %>
                    <tr>
                        <td class="text-left">LOGO</td>
                        <td><%= utilities.numStr(reporting.logo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.logo.clicks) %></td>
                        <td class="text-center"><%= reporting.logo.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.native) { %>
                    <tr>
                        <td class="text-left">NATIVE</td>
                        <td><%= utilities.numStr(reporting.native.impressions) %></td>
                        <td><%= utilities.numStr(reporting.native.clicks) %></td>
                        <td class="text-center"><%= reporting.native.ctr %>%</td>
                        
                    </tr>
                    <% } %>
                    <% if(reporting.slider) { %>
                    <tr>
                        <td class="text-left">SLIDER</td>
                        <td><%= utilities.numStr(reporting.slider.impressions) %></td>
                        <td><%= utilities.numStr(reporting.slider.clicks) %></td>
                        <td class="text-center"><%= reporting.slider.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.mea) { %>
                    <tr>
                        <td class="text-left">MEA</td>
                        <td><%= utilities.numStr(reporting.mea.impressions) %></td>
                        <td><%= utilities.numStr(reporting.mea.clicks) %></td>
                        <td class="text-center"><%= reporting.mea.ctr %>%</td>
                    </tr>
                    <% } %>
                    <% if(reporting.slidervideo) { %>
                    <tr>
                        <td class="text-left">SLIDER VIDEO</td>
                        <td><%= utilities.numStr(reporting.slidervideo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.slidervideo.clicks) %></td>
                        <td class="text-center"><%= reporting.slidervideo.ctr %>%</td>

                    </tr>
                    <% } %>

                    <% if(reporting.clickcommand) { %>
                    <tr>
                        <td class="text-left">CLIC COMMAND</td>
                        <td>-</td>
                        <td><%= utilities.numStr(reporting.clickcommand.clicks) %></td>
                        <td>-</td>
                    </tr>
                    <% } %>

                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left"><strong>Total</strong>
                        <td><%= utilities.numStr(reporting.campaign.impressions) %></td>
                        <td><%= utilities.numStr(reporting.campaign.clicks) %></td>
                        <td><%= reporting.campaign.ctr %>%</td>

                    </tr>
                </tfoot>
            </table>
        </div>

        <% if(reporting.habillage) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>HABILLAGE / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.habillage.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.habillage.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.habillage.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.habillage.siteList[i].clicks) %></td>
                        <td><%= reporting.habillage.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.habillage.impressions) %></td>
                        <td><%= utilities.numStr(reporting.habillage.clicks) %></td>
                        <td><%= reporting.habillage.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.interstitiel) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>INTERSTITIEL / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.interstitiel.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.interstitiel.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.interstitiel.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.interstitiel.siteList[i].clicks) %></td>
                        <td><%= reporting.interstitiel.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.interstitiel.impressions) %></td>
                        <td><%= utilities.numStr(reporting.interstitiel.clicks) %></td>
                        <td><%= reporting.interstitiel.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.interstitielvideo) { %>
            <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
                <h3 class="title">
                    <i class="fas fa-chart-line"></i>
                    <strong>INTERSTITIEL VIDEO/ par site</strong>
                </h3>
            </div>
            <div class="table-responsive-md">
    
                <table class="table">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th class="text-left">Sites</th>
                            <th>Impressions</th>
                            <th>Clics</th>
                            <th>Taux de clics</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <% for(i=0; i < Object.keys(reporting.interstitielvideo.siteList).length; i++) { %>
                        <tr>
                            <td class="text-left"><%= reporting.interstitielvideo.siteList[i].site %></td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.siteList[i].impressions) %></td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.siteList[i].clicks) %></td>
                            <td><%= reporting.interstitielvideo.siteList[i].ctr %>%</td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot class="text-center table-dark">
                        <tr>
                            <td class="text-left">
                                <strong>Total</strong>
                            </td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.impressions) %></td>
                            <td><%= utilities.numStr(reporting.interstitielvideo.clicks) %></td>
                            <td><%= reporting.interstitielvideo.ctr %>%</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <% } %>

        <% if(reporting.instream) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>INSTREAM / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                        <th>VTR</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.instream.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.instream.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.instream.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.instream.siteList[i].clicks) %></td>
                        <td><%= reporting.instream.siteList[i].ctr %>%</td>
                        <td><%= reporting.instream.siteList[i].ctrComplete %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.instream.impressions) %></td>
                        <td><%= utilities.numStr(reporting.instream.clicks) %></td>
                        <td><%= reporting.instream.ctr %>%</td>
                        <td><%= reporting.instream.ctrComplete %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.masthead) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>MASTHEAD / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.masthead.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.masthead.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.masthead.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.masthead.siteList[i].clicks) %></td>
                        <td><%= reporting.masthead.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.masthead.impressions) %></td>
                        <td><%= utilities.numStr(reporting.masthead.clicks) %></td>
                        <td><%= reporting.masthead.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.grandangle) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>GRAND ANGLE / par site</strong>
            </h3>
        </div>

        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.grandangle.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.grandangle.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.grandangle.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.grandangle.siteList[i].clicks) %></td>
                        <td><%= reporting.grandangle.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.grandangle.impressions) %></td>
                        <td><%= utilities.numStr(reporting.grandangle.clicks) %></td>
                        <td><%= reporting.grandangle.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.rectangle) { %>
            <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
                <h3 class="title">
                    <i class="fas fa-chart-line"></i>
                    <strong>RECTANGLE / par site</strong>
                </h3>
            </div>
            <div class="table-responsive-md">
                <table class="table">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th class="text-left">Sites</th>
                            <th>Impressions</th>
                            <th>Clics</th>
                            <th>Taux de clics</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <% for(i=0; i < Object.keys(reporting.rectangle.siteList).length; i++) { %>
                        <tr>
                            <td class="text-left"><%= reporting.rectangle.siteList[i].site %></td>
                            <td><%= utilities.numStr(reporting.rectangle.siteList[i].impressions) %></td>
                            <td><%= utilities.numStr(reporting.rectangle.siteList[i].clicks) %></td>
                            <td><%= reporting.rectangle.siteList[i].ctr %>%</td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot class="text-center table-dark">
                        <tr>
                            <td class="text-left">
                                <strong>Total</strong>
                            </td>
                            <td><%= utilities.numStr(reporting.rectangle.impressions) %></td>
                            <td><%= utilities.numStr(reporting.rectangle.clicks) %></td>
                            <td><%= reporting.rectangle.ctr %>%</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <% } %>

        <% if(reporting.rectanglevideo) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>RECTANGLE VIDEO / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.rectanglevideo.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.rectanglevideo.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.siteList[i].clicks) %></td>
                        <td><%= reporting.rectanglevideo.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.rectanglevideo.clicks) %></td>
                        <td><%= reporting.rectanglevideo.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>


        <% if(reporting.native) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>NATIVE / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.native.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.native.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.native.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.native.siteList[i].clicks) %></td>
                        <td><%= reporting.native.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.native.impressions) %></td>
                        <td><%= utilities.numStr(reporting.native.clicks) %></td>
                        <td><%= reporting.native.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.slider) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>SLIDER / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.slider.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.slider.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.slider.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.slider.siteList[i].clicks) %></td>
                        <td><%= reporting.slider.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.slider.impressions) %></td>
                        <td><%= utilities.numStr(reporting.slider.clicks) %></td>
                        <td><%= reporting.slider.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.mea) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>MISE EN AVANT / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.mea.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.mea.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.mea.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.mea.siteList[i].clicks) %></td>
                        <td><%= reporting.mea.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.mea.impressions) %></td>
                        <td><%= utilities.numStr(reporting.mea.clicks) %></td>
                        <td><%= reporting.mea.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.slidervideo) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>SLIDER VIDEO / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.slidervideo.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.slidervideo.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.slidervideo.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.slidervideo.siteList[i].clicks) %></td>
                        <td><%= reporting.slidervideo.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.slidervideo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.slidervideo.clicks) %></td>
                        <td><%= reporting.slidervideo.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.logo) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>LOGO / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">

            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.logo.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.logo.siteList[i].site %></td>
                        <td><%= utilities.numStr(reporting.logo.siteList[i].impressions) %></td>
                        <td><%= utilities.numStr(reporting.logo.siteList[i].clicks) %></td>
                        <td><%= reporting.logo.siteList[i].ctr %>%</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td><%= utilities.numStr(reporting.logo.impressions) %></td>
                        <td><%= utilities.numStr(reporting.logo.clicks) %></td>
                        <td><%= reporting.logo.ctr %>%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>

        <% if(reporting.clickcommand) { %>
        <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>CLICK COMMAND / par site</strong>
            </h3>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th class="text-left">Sites</th>
                        <th>Impressions</th>
                        <th>Clics</th>
                        <th>Taux de clics</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% for(i=0; i < Object.keys(reporting.clickcommand.siteList).length; i++) { %>
                    <tr>
                        <td class="text-left"><%= reporting.clickcommand.siteList[i].site %></td>
                        <td>-</td>
                        <td><%= utilities.numStr(reporting.clickcommand.siteList[i].clicks) %></td>
                        <td>-</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="text-center table-dark">
                    <tr>
                        <td class="text-left">
                            <strong>Total</strong>
                        </td>
                        <td>-</td>
                        <td><%= utilities.numStr(reporting.clickcommand.clicks) %></td>
                        <td>-</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>




        <% if(reporting.creative) { %>
            <div class="row p-3 mt-5 ml-2 mr-2" id="table_uu">
                <h3 class="title">
                    <i class="fas fa-chart-line"></i>
                    <strong>Par créatives </strong>
                </h3>
            </div>
            <div class="table-responsive-md">
    
                <table class="table">
                    <thead class="text-center thead-dark">
                        <tr>
                            <th class="text-left">Creatives</th>
                            <th>Impressions</th>
                            <th>Clics</th>
                            <th>Taux de clics</th>
                            <% if((reporting.creatives.ctrComplete !=='0.00')) { %>
                                <th>VTR</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <% for(i=0; i < Object.keys(reporting.creative).length; i++) { %>
                        <tr>
                            <td class="text-left"><%= reporting.creative[i].creative %></td>
                            <td><%= utilities.numStr(reporting.creative[i].impressions) %></td>
                            <td><%= utilities.numStr(reporting.creative[i].clicks) %></td>
                            <td><%= reporting.creative[i].ctr %>%</td>
                            <% if((reporting.creatives.ctrComplete !=='0.00')) { %>
                            <td><%= reporting.creative[i].ctrComplete %>%</td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot class="text-center table-dark">
                        <tr>
                            <td class="text-left">
                                <strong>Total</strong>
                            </td>
                            <td><%= utilities.numStr(reporting.creatives.impressions) %></td>
                            <td><%= utilities.numStr(reporting.creatives.clicks) %></td>
                            <td><%= reporting.creatives.ctr %>%</td>
                            <% if((reporting.creatives.ctrComplete !=='0.00')) { %>
                                <td><%= reporting.creatives.ctrComplete %>%</td>
                            <% } %>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <% } %>


     <div class="pt-5 pb-5 text-right"> <a href="/r/<%=reporting.campaign.campaign_crypt %>/export" class="btn btn-xs btn-success"> <i class="fas fa-file-excel"> </i> Télécharger le rapport <span class="small">(Format : Excel)</span></a> </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function () {

            //appel ajax ici compte le nombre de tr du tableau
            $.fn.rowCount = function () {
                return $('tr', $(this).find('tbody')).length;
            };
            var rowctr = $('#table_campaigns').rowCount();

            //si le tableau des formats global contient qu'une seule ligne on affiche pas
            if (rowctr <= 1) {
                //console.log('No of Rows:' + rowctr);
                $("#table_global_format").hide();
            }
        })
        //attention version en ligne (en tête)
    </script>

</body>

</html>