<%- include("../../layouts/manager/head.ejs") -%>
    <!-- support-section start -->
    <div class="col-xl-12 col-md-12">

        <div class="card">
            <form method="POST" action="/manager/insertions/create">
            <div class="card-header">
                <h5>Créer une insertions</h5>
            </div>
            <div class="card-body">


                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                            Créer une insertion sur SMARTADSERVER en toute simplicité.
                        </div>
                    </div>
                </div>
                <% if (message) { %>
                    <div class="alert alert-<%=message.type%>" role="alert">
                        <%=message.intro%>:<%=message.message%>
                        <% if (message.type === 'success') { %>
                        <a href="https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%=message.id_campaign%>" target="_blank"> 
                        <img src="/assets/images/smartadserver.png" alt="Icône SMARTADSERVER"></a>
                        <% } %>
                    </div>
        
                    <% } %>

                 
                <div class="form-group">
                    <label class="form-label" for="campaign">Campagne
                    </label>
                    <select
                        class="form-control"
                        id="campaign"
                        name="campaign"
                        required="required">
                        <option value="">Choisir une campagne</option>
                        <% for (let i=0; i < campaigns.length; i++) { %>
                            <option value="<%= campaigns[i].campaign_id %>"
                                <%- (campaigns[i].campaign_id == '1682740') ? 'selected="selected"' : '' -%>>
                                <%= campaigns[i].campaign_name %>
                            </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="insertion">Nom de l'insertion</label>
                    <input
                        type="text"
                        name="insertion"
                        id="insertion"
                        class="form-control"
                        placeholder="Saisissez le nom de l'insertion"
                        required="required"/>
                </div>


                <div class="form-group">
                    <label class="form-label" for="format">Formats
                    </label>
                    <select
                        class="form-control"
                        id="format"
                        name="format"
                        required="required">
                        <option value="">Choisir un format</option>
                        <% for (let i=0; i < formats.length; i++) { %>
                            <option value="<%= formats[i].format_id %>"><%= formats[i].format_name %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="site">Sites
                    </label>
                    <select
                        class="form-control"
                        id="site"
                        name="site"
                        multiple
                        required="required">
                        <% for (let i=0; i < sites.length; i++) { %>
                            <option value="<%= sites[i].site_id %>"><%= sites[i].site_name %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="campaign_start_date">Date de début de la campagne</label>
                    <input
                        type="datetime-local"
                        name="campaign_start_date"
                        id="campaign_start_date"
                        class="form-control"
                        placeholder="Saisissez la date de début de la campagne"
                        required="required"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="campaign_end_date">Date de fin de la campagne</label>
                    <input
                        type="datetime-local"
                        name="campaign_end_date"
                        id="campaign_end_date"
                        class="form-control"
                        placeholder="Saisissez la date de fin de la campagne"
                        required="required">
                </div>

            </div>
            <div class="card-footer">
                <input
                    type="submit"
                    name="submit"
                    class="btn btn-primary mr-2 btn-submit"
                    value="Créer une nouvelle campagne"/>
            </div>
        </form>
        </div>

    </div>

    <%- include("../../layouts/manager/footer.ejs") -%>