<%- include("../../layouts/manager/head.ejs") -%>
<!-- support-section start -->
<div class="col-xl-12 col-md-12">

    <div class="card">
        <form method="POST" action="/manager/insertions/create">
            <div class="card-header">
                <h5>Ajouter une insertion</h5>
            </div>
            <div class="card-body">

                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                            Créer une insertion sur SMARTADSERVER en toute simplicité.
                        </div>
                    </div>
                </div>
                <% if (message) { %>
                <div class="alert alert-<%=message.type%>" role="alert">
                    <%=message.intro%>:<%=message.message%>
                </div>
                <% } %>

                <fieldset>
                    <legend>CAMPAGNE</legend>

                    <div class="form-group">
                        <label class="form-label" for="campaign_id">Campagne
                        </label>
                        <select class="form-control" id="campaign_id" name="campaign_id" required="required">
                           
                            <option value="1764641">
                                TEST > Api manager
                            </option>
                           <option value="">-----------------------------</option>
                            <option value="">Choisir une campagne</option>
                            <% for (let i=0; i < campaigns.length; i++) { %>
                            <option value="<%= campaigns[i].campaign_id %>">
                                <%= campaigns[i].advertiser.advertiser_name %> > <%= campaigns[i].campaign_name %>
                            </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-label" for="format_group_id">Format
                            </label>
                            <select class="form-control" id="format_group_id" name="format_group_id"
                                required="required">
                                <option value="">Choisir un format</option>
                                <% for(let i=1; i < formats.length; i++) {%>
                                    <option value="<%= formats[i].format_group %>">
                                        <%= formats[i].format_group %></option>
                                    <% } %>
                            </select>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-label" for="pack_id">Pack
                            </label>
                            <select class="form-control" id="pack_id" name="pack_id" required="required">
                                <option value="">Choisir un pack</option>
                                <% for (let i=0; i < packs.length; i++) { %>
                                <option value="<%= packs[i].pack_id %>"><%= packs[i].pack_name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>DISPLAY</legend>

                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-label" for="display_mobile_file">Fichier Mobile</label>
                            <input type="url" name="display_mobile_file" id="display_mobile_file" class="form-control"
                                placeholder="Saisissez le fichier mobile au format JPEG, GIF, PNG"
                                 />
                        </div>

                        <div class="form-group col-6">
                            <label class="form-label" for="display_mobile_url">Url Mobile</label>
                            <input type="url" name="display_mobile_url" id="display_mobile_url" class="form-control"
                                placeholder="Saisissez l'url de redirection pour le mobile"  />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-label" for="display_tablet_file">Fichier Tablette</label>
                            <input type="url" name="display_tablet_file" id="display_tablet_file" class="form-control"
                                placeholder="Saisissez le fichier tablette au format JPEG, GIF, PNG"
                                 />
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label" for="display_tablet_url">Url Tablette</label>
                            <input type="url" name="display_tablet_url" id="display_tablet_url" class="form-control"
                                placeholder="Saisissez l'url de redirection pour la tablette"  />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-label" for="display_desktop_file">Fichier Desktop</label>
                            <input type="url" name="display_desktop_file" id="display_desktop_file" class="form-control"
                                placeholder="Saisissez le fichier desktop au format JPEG, GIF, PNG"
                                 />
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label" for="display_desktop_url">Url Desktop</label>
                            <input type="url" name="display_desktop_url" id="display_desktop_url" class="form-control"
                                placeholder="Saisissez l'url de redirection pour le desktop"  />
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>VIDEO</legend>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-label" for="video_file">Fichier Vidéo</label>
                            <input type="url" name="video_file" id="video_file" class="form-control"
                                placeholder="Saisissez l'url du fichier au format MP4"  />
                        </div>

                        <div class="form-group col-6">
                            <label class="form-label" for="video_url">Url Vidéo</label>
                            <input type="url" name="video_url" id="video_url" class="form-control"
                                placeholder="Saisissez l'url de redirection"  />
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-footer">
                <input type="submit" name="submit" class="btn btn-primary mr-2 btn-submit"
                    value="Créer une nouvelle insertion" />
            </div>
        </form>
    </div>

</div>

<%- include("../../layouts/manager/footer.ejs") -%>