<%- include("../../layouts/manager/head.ejs") -%>
<div class="col-sm-12" id="campaign-main">

    <div class="card" data-campaign_id="<%= campaign.campaign_id %>">
        <div class="card-header">
            <h1><%= campaign.campaign_name %></h1>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="col-md-8 col-sm-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">info</i> ID</span>: <strong><%= campaign.campaign_id %></strong></li>
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">store</i> Annonceur</span>: <a href="/manager/advertisers/<%= campaign.advertiser_id %>" title="<%= campaign.advertiser.advertiser_name %>"><%= campaign.advertiser.advertiser_name %></a></li>
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">next_week</i> Agence</span>: <% if(campaign.agency_id && (campaign.agency_id != 0)) { %> <a href="/manager/agencies/<%= campaign.agency_id %>" title="<%= campaign.agency.agency_name %>"><%= campaign.agency.agency_name %></a><% } else { %>-<% } %></li>
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">date_range</i> Période du</span>: Du <%= moment(campaign.campaign_start_date).format('DD/MM/YYYY') %> au <%= moment(campaign.campaign_end_date).format('DD/MM/YYYY') %> </li>
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">visibility</i> Status </span>: <% switch(campaign.campaign_status_id) { 
                        case 0: %> <span class="badge bg-light">En Brouillon</span> <% break;
                        case 1: %> <span class="badge bg-secondary">Pré réservé</span> <% break; 
                        case 2: %> <span class="badge bg-warning">Réservé</span> <% break; 
                        case 3: %> <span class="badge bg-success">Vendue</span> <% break; 
                        case 4: %> <span class="badge bg-danger">Annulée</span> <% break; 
                        default: %> - <% 
                        }  %></li>
                    <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">archive</i> Archive</span>: <% switch(campaign.campaign_archived) { case 1: %> <span class="badge bg-warning">Archiv&eacute;</span> <% break; default: %> - <% break; }  %></li>
                </ul>

          <hr />

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="labelname"> <i class="material-icons-two-tone">history</i> Dernière MAJ</span>: <abbr title="<%= campaign.updated_at %>"><%= moment(campaign.updated_at).fromNow() %></abbr></li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-12">

            <div class="d-grid gap-2">
                <a href="https://manage.smartadserver.com/gestion/smartprog2.asp?CampagneID=<%= campaign.campaign_id %>&AnnonceurID=<%= campaign.advertiser_id %>" target="_blank" class="btn btn-warning" title="Voir sur SMARTADSERVER"><i class="material-icons-two-tone">send</i> Accéder à SMARTADSERVER</a>
                <a href="/rs/<%= campaign.campaign_crypt %>" target="_blank" class="btn btn-primary" title="Accéder au rapport de campagne"><i class="material-icons-two-tone">link</i> Accéder au rapport de campagne</a>
            </div>

        </div>

    </div>

        </div>
    </div>
</div>

<div class="col-sm-12" id="campaign-insertions" >
    <div class="card">
        <div class="card-header">
            <h3>Insertions</h3>
        </div>
        <div class="card-body">
            <% if(insertions && (insertions.length > 0)) { %>
                <%- include("../inc/table_insertions.ejs") -%> 
            <% } else { %>
                <div class="alert alert-warning" role="alert" data-automate="insertions">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg> Aucune insertion pour cette campagne.
                </div> 
            <% } %>
        </div>
    </div>
</div>

<div class="col-sm-12" id="campaign-creatives">
    <div class="card">
        <div class="card-header">
            <h3>Créatives</h3>
        </div>
        <div class="card-body">
            <% if(creatives && (creatives.length > 0)) { %>
                <%- include("../inc/card_creatives.ejs") -%> 
            <% } else { %>
                <div class="alert alert-warning" role="alert" data-automate="creatives">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg> Aucune créative pour cette campagne.
                </div> 
            <% } %>
        </div>
    </div>
</div>

<%- include("../../layouts/manager/footer.ejs") -%>