<%- include("../layouts/manager/head.ejs") -%>

<!-- support-section start -->
<div class="col-xl-6 col-md-12">

    <div class="card flat-card">
        <div class="row-table">
            <div class="col-sm-6 card-body br">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">content_paste</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>
                            <a href="/manager/campaigns" title="<%=campaigns%> Campagnes">
                                <%=campaigns%>
                            </a>
                        </h5>
                        <span>
                            <a href="/manager/campaigns" title="<%=campaigns%> Campagnes">Campagnes</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">business</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>
                            <a href="/manager/advertisers" title="<%=advertisers%> Annonceurs">
                                <%=advertisers%>
                            </a>
                        </h5>
                        <span>
                            <a href="/manager/advertisers" title="<%=advertisers%> Annonceurs">Annonceurs</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">rule</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>
                            <a href="/manager/insertions" title="<%=insertions%> Insertions">
                                <%=insertions%>
                            </a>
                        </h5>
                        <span>
                            <a href="/manager/insertions" title="<%=insertions%> Insertions">Insertions</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-table">
            <div class="col-sm-6 card-body br">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">web</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>
                            <a href="/manager/sites" title="<%=sites%> sites">
                                <%=sites%>
                            </a>
                        </h5>
                        <span>
                            <a href="/manager/sites" title="<%=sites%> sites">Sites</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">people</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>
                            <a href="/manager/users" title="<%=users%> utilisateurs">
                                <%=users%>
                            </a>
                        </h5>
                        <span>
                            <a href="/manager/users" title="<%=users%> utilisateurs">Utilisateurs</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="material-icons-two-tone text-primary mb-1">shopping_cart</i>
                    </div>
                    <div class="col-sm-8 text-md-center">
                        <h5>100%</h5>
                        <span>Order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card table-card">
        <div class="card-header">
            <h5>Campagnes se terminant dans les 10 prochains jours</h5>
        </div>
        <div class="pro-scroll">
            <div class="card-body p-0">
                <ul class="list-group list-group-flush list-unstyled">
                    <% for (let i=0; i < campaigns_last.length; i++) { %>
                    <li><a class="list-group-item list-group-item-action"
                            href="/manager/campaigns/<%= campaigns_last[i].campaign_id %>"
                            title="<%= campaigns_last[i].campaign_name %>">
                            <%= campaigns_last[i].campaign_name %> <span class="badge bg-light-warning text-right">
                                <%= moment(campaigns_last[i].campaign_start_date).fromNow() %>
                            </span>
                        </a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>






    <%- include("../layouts/manager/footer.ejs") -%>