<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="/admin/css/style.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/4d66efb478.js"></script>

	<title>Inscription</title>
</head>

<body>

	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<!--section 1-->

			<div class="col-lg-6  p-0">
				<div class="card bg-dark text-dark">
					<img src="/admin/photos/signup.jpg" class="card-img" alt="..." id="img_signup">
					<div class="card-img-overlay">
						<% if (message) { %>

							<div class="alert alert-<%=message.type%> alert-dismissible fade show text-dark"
								role="alert">
								<%=message.intro%>:<%=message.message%>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
							</div>

							<% } %>
					</div>
				</div>
			</div>

			<!--section 2-->
			<div class="col-lg-6 p-0">
				<div class="our-team-main">

					<div id="card-signup" class="card">
						<div class="card-header">
							<h4 class="card-title">
								Créer votre compte
							</h4>

						</div>

						<div class="card-body text-left">

							<form action="/signup/add" method="POST">

								<div class="col">
									<div class="md-form">
										<label for="email"><i class="fas fa-at" id="icon"></i>Email</label>
										<input type="email" class="form-control" name="user_email" id="email" value=""
											placeholder="email@gmail.com" required>
									</div>
								</div>

								<div class="col">
									<div class="md-form">
										<label for="mdp"><i class="fas fa-key" id="icon"></i>Mot de passe </label>

										<input type="password" class="form-control" name="user_password" id="mdp"
											value="" placeholder="6 caractères + 1 caractère spécial" required>

									</div>
								</div>

								<div class="col">

									<label for="role"><i class="fas fa-user" id="icon"></i>Votre métier ? : </label>
									<select class="form-control" name="user_role" id="role" required="required">

										<% for(let i=0; i < roles.length; i++) {%>

											<option value="<%= roles[i].role_id %>">
												<%= roles[i].label %>
											</option>
											<% } %>
									</select>

								</div>

						</div>
						<div class="card-footer bg-transparent  justify-content-center d-flex">
							<div class="col-sm-12 text-right">
								<input type="submit" name="submit" class="btn btn-block btn-default text-white "
									style="    background-color: #ff416d;;" value="Valider" />
							</div>
						</div>
						<div class="col text-center">
							<small><a class=" text-white" href="/login">Connexion</a></small>

						</div>
						</form>
					</div>

				</div>
			</div>
		</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>