<%- include("../layouts/admin/head.ejs") -%>


<h1>Stat Forecast</h1>
<h3>Date de  debut:  <%=table.date_start%></h3>
<h3>Date de fin:  <%=table.date_end%></h3>

        <table border="1px">
            <thead>
                <tr>
                    <th>TotalImpression</th>
                    <th>OccupiedImpressions</th>
                    <th>SiteID</th>
                    <th>SiteName</th>
                    <th>FormatID</th>
                    <th>FormatName</th>

                </tr>
            </thead>   
            
            <tbody>
                <% for (let i=0; i < table.TotalImpressions.length; i++) { %>
                    <% if (table.TotalImpressions[i] != '' ) { %>
                <tr>
                 

                    <td><%=table.TotalImpressions[i]%></td>
                    <td><%=table.OccupiedImpressions[i]%></td>
                    <td><%=table.SiteID[i]%></td>
                    <td><%=table.SiteName[i]%></td>
                    <td><%=table.FormatID[i]%></td>
                    <td><%=table.FormatName[i]%></td>

                </tr>
                    <% } %>

                <% } %>

            </tbody>
           

        </table>
        <h6><strong>Volume total: <%=table.sommeImpressions%></strong></h6>
        <h6><strong>Volume occupé:<%=table.sommeOccupied%></strong> </h6>
        <h6><strong>Volume disponible:<%=table.volumeDispo%></strong></h6>
    
        <br>
        <hr>

        <h1>Stat BI Confirmé (campagne Epilot)</h1>

        <table border="1px">
            <thead>
                <tr>
                    <th>Campagne</th>
                    <th>Date de début campagne</th>
                    <th>Date de fin campagne</th>
                    <th>Durée de la campagen en nb de jour</th>
                    <th>Jour à Cheval</th>
                    <th>Volume à soustraire des dispo</th>

             

                </tr>
            </thead>   
            <tbody>
                <% for (let i=0; i < confirmer.array_confirmer.length; i++) { %>
                    <% if (confirmer.array_confirmer[i] != '' ) { %>
                <tr>
                 

                    <td><%=confirmer.Campagnes_confirmer[i]%></td>
                    <td><%=confirmer.Campagne_start[i]%></td>
                    <td><%=confirmer.Campagne_end[i]%></td>
                    <td><%=confirmer.Interval_confirmer[i]%></td>
                    <td><%=confirmer.Nbr_cheval_confirmer[i]%></td>
                    <td><%=confirmer.array_confirmer[i]%></td>




                </tr>
                <% } %>

                <% } %>
            </tbody>
           

        </table>
        <h6>Total volume prévus confirmé:   <%=confirmer.sommeConfirmer%></h6>
        <h6><strong>Volume disponible confirmé reel:   <%=confirmer.confirme_reel%></strong></h6>

        <hr>

        <h1>Stat BI Reservé (campagne Epilot)</h1>

        <table border="1px">
            <thead>
                <tr>
                    <th>Campagne</th>
                    <th>Date de début campagne</th>
                    <th>Date de fin campagne</th>
                    <th>Durée de la campagen en nb de jour</th>
                    <th>Jour à Cheval</th>
                    <th>Volume à soustraire des dispo</th>


                </tr>
            </thead>   
            <tbody>
                <% for (let i=0; i < reserver.array_reserver.length; i++) { %>
                    <% if (reserver.array_reserver[i] != '' ) { %>
                <tr>
                 

                    <td><%=reserver.Campagnes_reserver[i]%></td>
                    <td><%=reserver.Campagne_start_reserver[i]%></td>
                    <td><%=reserver.Campagne_end_reserver[i]%></td>
                    <td><%=reserver.Interval_reserver[i]%></td>
                    <td><%=reserver.Nbr_cheval_reserver[i]%></td>
                    <td><%=reserver.array_reserver[i]%></td>




                </tr>
                <% } %>

                <% } %>
            </tbody>
           

        </table>
        <h6>Total volume prévus reservé:   <%=reserver.sommeReserver%></h6>
        <h6><strong>Volume disponible reservé reel:  <%=reserver.reserver_reel%></strong></h6>




    <%- include("../layouts/admin/footer.ejs") -%>