<%- include("../layouts/admin/head.ejs") -%>


<div id="card-forecast" class="card">
    <div class="card-header">
        <h1 class="card-title">
            Stat Forecast
        </h1>
    </div>

    <div class="card-body">

        <p>Date de debut: <%=confirmer.date_start%></p>
        <p>Date de fin: <%=confirmer.date_end%></p>

        <h5><strong>Volume total: <%=table.sommeImpressions%></strong></h5>
        <h5><strong>Volume occupé:<%=table.sommeOccupied%></strong> </h5>
        <h5><strong>Volume disponible:<%=table.volumeDispo%></strong></h5>

        <table class="table">

            <tbody>
                <% for (let i=0; i < table.TotalImpressions.length; i++) { %>
                <% if (table.TotalImpressions[i] != '' ) { %>
                <tr>


                    <td><strong><%=table.TotalImpressions[i]%></strong></td>
                    <td><strong><%=table.OccupiedImpressions[i]%></strong></td>
                    <td><%=table.SiteID[i]%></td>
                    <td><%=table.SiteName[i]%></td>
                    <td><%=table.FormatID[i]%></td>
                    <td><%=table.FormatName[i]%></td>

                </tr>
                <% } %>

                <% } %>

            </tbody>
        </table>




    </div>
</div>

<br>

<% if (confirmer.confirme_reel == 0 ) { %>

<% } else { %>
<div id="card-forecast" class="card">
    <div class="card-header">
        <h2 class="card-title">
            Stat BI Confirmé (campagne Epilot) </h2>
    </div>






    <h6>Total volume prévus confirmé: <%=confirmer.sommeConfirmer%></h6>
    <h6><strong>Volume disponible confirmé reel: <%=confirmer.confirme_reel%></strong></h6>

    <table class="table">

        <tbody>

            <tr>
                <th>Campagne</th>
                <th>Date de début campagne</th>
                <th>Date de fin campagne</th>
                <th>Nbr de jour</th>
                <th>Jour à Cheval</th>
                <th>Volume des dispo</th>



            </tr>



            <% for (let i=0; i < confirmer.array_confirmer.length; i++) { %>

            <% if (confirmer.array_confirmer[i] != '' ) { %>

            <tr>


                <td><%=confirmer.Campagnes_confirmer[i]%></td>
                <td><%=confirmer.Campagne_start[i]%></td>
                <td><%=confirmer.Campagne_end[i]%></td>
                <td><%=confirmer.Interval_confirmer[i]%></td>
                <td><%=confirmer.Nbr_cheval_confirmer[i]%></td>
                <td><%=confirmer.array_confirmer[i]%></td>

            </tr>

            <% } %>

            <% } %>


        </tbody>


    </table>
    <% } %>



</div>


<br>



<% if (reserver.reserver_reel == 0 ) { %>

<% } else { %>

        <div id="card-forecast" class="card">
            <div class="card-header">
                <h2 class="card-title">
                    Stat BI Reservé (campagne Epilot) </h2>
            </div>



            <h6>Total volume prévus reservé: <%=reserver.sommeReserver%></h6>
            <h6><strong>Volume disponible reservé reel: <%=reserver.reserver_reel%></strong></h6>



            

            <table class="table">

                <tbody>

                    <tr>
                        <th>Campagne</th>
                        <th>Date de début campagne</th>
                        <th>Date de fin campagne</th>
                        <th>Durée de la campagen en nb de jour</th>
                        <th>Jour à Cheval</th>
                        <th>Volume à soustraire des dispo</th>


                    </tr>
                    <% for (let i=0; i < reserver.array_reserver.length; i++) { %>
                    <% if (reserver.array_reserver[i] != '' ) { %>
                    <tr>


                        <td><%=reserver.Campagnes_reserver[i]%></td>
                        <td><%=reserver.Campagne_start_reserver[i]%></td>
                        <td><%=reserver.Campagne_end_reserver[i]%></td>
                        <td><%=reserver.Interval_reserver[i]%></td>
                        <td><%=reserver.Nbr_cheval_reserver[i]%></td>
                        <td><%=reserver.array_reserver[i]%></td>




                    </tr>
                    <% } %>

                    <% } %>
                </tbody>


            </table>









        </div>




    <% } %>




<%- include("../layouts/admin/footer.ejs") -%>