<%- include("../layouts/admin/head.ejs") -%>

<div id="card-forecast" class="card">
	<div class="card-header">
		<h4 class="card-title">
			Inventaire SMART
		</h4>
	</div>

	<div class="card-body">


		<form action="/api/forecast/add" id="forecast" method="POST">
			<div class="form-group">
				<label for="date_start">Date de début </label>
				<input type="date" class="form-control" name="date_start" id="date_start" value="" required>
			</div>

			<div class="form-group">
				<label for="date_end">Date de fin </label>
				<input type="date" class="form-control" name="date_end" id="date_end" value="" required>
			</div>

			<div class="form-group">
				<label for="format">Format</label>
				<select class="form-control" name="format" onchange="myFunction()" id="format" required="required">
					<option value="">Sélectionner un format</option>
					<% for(let i=0; i < formats.length; i++) {%>
					<option onchange="myFunction()" value="<%= formats[i].format_group %>">
						<%= formats[i].format_group %></option>
					<% } %>
				</select>



			</div>



			<div class="form-group">

				<label for="packs">Packs</label>
				<select class="form-control" name="packs" id="packs" required="required">

					<% for(let i=0; i < packs.length; i++) {%>

					<option value="<%= packs[i].pack_id %>"
						<%- (packs[i].pack_id == '1') ? 'selected="selected"' : '' -%>><%= packs[i].pack_name %>

					</option>
					<% } %>
				</select>

			</div>



			<div class="form-group">
				<label for="countries">Géolocalisation</label><br>
				<% for(let i=0; i < countrys.length; i++) {%>
				<label class="form-check-label"><%= countrys[i].country_name %></label>
				<input class="form-check-input" type="checkbox" name="countries" id="countries"
					value="<%= countrys[i].country_id %>"
					<%- (countrys[i].country_id == '61') ? 'checked="checked"' : '' -%>>
				<% } %>
			</div>

			<br>
		

			<div class="form-group" id="myDIV">
				<label class="form-check-label"><strong style="color: red;">Élargir la proposition</strong></label>  
				<input class="form-check-input" type="checkbox" name="case" id="myCheck" value="false" onclick="coche()"><br>
				<p><small>Vous pouvez en cochant cette case avoir d'autres propositions formats</small></p> 
				<ul>
					<small><li>Choix Grand Angle= Masthead</li></small>
					<small><li>Choix Masthead= Grand Angle </li></small>
					<small><li>Choix Habillage= Grand Angle + Masthead </li></small>

				</ul> 

			</div>





	</div>
	<div class="card-footer bg-transparent border-success justify-content-center d-flex">
		<div class="col-sm-12 text-right">
			<input type="submit" name="submit" class="btn btn-block btn-primary" value="Valider" />
		</div>
	</div>
	</form>
</div>


<%- include("../layouts/admin/footer.ejs") -%>
