<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="/admin/css/style.css" rel="stylesheet" />
	<title>Disponibilités</title>
	
    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
        sizes="32x32" />
    <link rel="icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-192x192.png"
        sizes="192x192" />
    <link rel="apple-touch-icon" type="image/png"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-180x180.png" />

</head>

<body>

	<%- include ("../../layouts/admin/navbar.ejs") -%>

	<div class="container">
		<% if (message) { %>

		<div class="alert alert-<%=message.type%> alert-dismissible fade show text-dark" role="alert">
			<%=message.intro%>:<%=message.message%>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<% } %>

		<div class="row">

			<div class="col-lg-6">
				<div class="our-team-main">


					<div id="card-forecast" class="card">
						<div class="card-header">
							<h4 class="card-title">
								Disponibilités
							</h4>
						</div>

						<div class="card-body text-left">


							<form action="/utilisateur/add" id="forecast" method="POST">
								<div class="row">

									<div class="col-md-6">
										<div class="md-form">
											<label for=" date_start">Date de début </label>
											<input type="date" class="form-control" name="date_start" id="date_start"
												value="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="md-form">
											<label for="date_end">Date de fin </label>
											<input type="date" class="form-control" name="date_end" id="date_end"
												value="" required>
										</div>
									</div>

								</div>


								<div class="form-group">
									<label for="format">Format</label>
									<select class="form-control" name="format" onchange="myFunction()" id="format"
										required="required">
										<option value="">Sélectionner un format</option>
										<% for(let i=0; i < formats.length; i++) {%>
										<option onchange="myFunction()" value="<%= formats[i].format_group %>">
											<%= formats[i].format_group %></option>
										<% } %>
									</select>



								</div>



								<div class="form-group">

									<label for="packs">Pack</label>
									<select class="form-control" name="packs" id="packs" required="required">

										<% for(let i=0; i < packs.length; i++) {%>

										<option value="<%= packs[i].pack_id %>"
											<%- (packs[i].pack_id == '1') ? 'selected="selected"' : '' -%>>
											<%= packs[i].pack_name %>

										</option>
										<% } %>
									</select>

								</div>



								<div class="form-group">
									<label for="countries">Géolocalisations</label><br>
									<% for(let i=0; i < countrys.length; i++) {%>
									<label class="form-check-label"><%= countrys[i].country_name %></label>
									<input class="form-check-input" type="checkbox" name="countries" id="countries"
										value="<%= countrys[i].country_id %>"
										<%- (countrys[i].country_id == '61') ? 'checked="checked"' : '' -%>>
									<% } %>
								</div>








						</div>
						<div class="card-footer bg-transparent border-success justify-content-center d-flex">
							<div class="col-sm-12 text-right">
								<input type="submit" name="submit" class="btn btn-block btn-default text-white "
									value="Valider" />
							</div>
						</div>
						</form>
					</div>





				</div>
			</div>
			<!--section 1-->

			<div class="col-lg-6">
				<div class="our-team-main">


					<div class="card" id="card-info">


						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<img src="/admin/photos/search.jpg"></img>
								<p>Choisir une date prévisionnelle
								</p>
							</blockquote>
						</div>

						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<img src="/admin/photos/data.jpg"></img>
								<p>Calculer votre inventaire. Sélectionner le pack et le format
								</p>
							</blockquote>
						</div>


						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<img src="/admin/photos/valider.jpg"></img>

								<p> Valider le formulaire
								</p>
							</blockquote>
						</div>
					</div>

				</div>
			</div>

			<!--section 2-->

		</div>

	</div>
	<script>
		const now = new Date();

		var timestamp_now = now.setDate(now.getDate() + 1);
		var timestamp_end = now.setDate(now.getDate() + 15);

		const date_start_last = new Date(timestamp_now)
		const date_end_last = new Date(timestamp_end)


		document.getElementById("date_start").valueAsDate = date_start_last;
		document.getElementById("date_end").valueAsDate = date_end_last;
	</script>
	<%- include("../../layouts/admin/footer.ejs") -%>