<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ?
        '&l=' + l :
        '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f
        .parentNode
        .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KT6H7LH');
  </script>
  <!-- End Google Tag Manager -->
  <title>Rapport de la campagne "<%= reporting["a-Ensemble"].campaignName %>" - Antenne Solutions Business</title>

  <link rel="icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
    sizes="32x32" />
  <link rel="icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-192x192.png"
    sizes="192x192" />
  <link rel="apple-touch-icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-180x180.png" />

  <link href="/assets/css/reporting-tv.css" rel="stylesheet" />

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6H7LH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container p-3 mt-2 mb-2 shadow-lg rounded" id="reporting-board">

    <div class="row" style="
    justify-content: center;
    flex-wrap: inherit;
">
      <div class="col-md-3 col-sm-6">
        <a href="https://antennesb.fr/" target="_blank"><img src="/admin/photos/logo.png" alt="logo_antenne"></a>

      </div>
      <div class="col-md-3 col-sm-6">
        <a href="https://www.antennereunion.fr/" target="_blank"><img
            src="https://antennesb.fr/wp-content/uploads/2020/05/logo-AR.png" alt="logo_antenne"></a>

      </div>

    </div>

    <div class="row">


      <div class="col-md-12" style="padding-top: 30px;">
        <h2 class="top-50 start-50 text-center">Rapport de la campagne :
          <%= reporting["a-Ensemble"].campaignName %></h2>
      </div>
    </div>

    <div class="row mt-5">




      <div class="container">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Annonceur</strong>
            :
            <%= reporting["a-Ensemble"].campaignAdvertiser %></li>
          <li class="list-group-item">
            <strong>Campagne</strong>
            :
            <%= reporting["a-Ensemble"].campaignName %></li>
          <li class="list-group-item">
            <strong>Période de diffusion</strong>
            :
            <%= reporting["a-Ensemble"].campaignPeriod %></li>

            <li class="list-group-item">
              <strong>Budget total NET</strong>
              :
              <%=  utilities.numStr(reporting["a-Ensemble"].campaignBudget) %> €</li>

        </ul>
      </div>
    </div>


    <br>


    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <% for(const property in reporting) { %>


        <a class="nav-item nav-link 
         <% if(reporting[property].campaignLabel === 'ensemble') { %> active <% } %>
        " id="nav-<%= reporting[property].campaignLabel %>-tab" data-attr="<%= property %>" data-toggle="tab"
          href="#nav-<%= reporting[property].campaignLabel %>" role="tab"
          aria-controls="nav-<%= reporting[property].campaignLabel %>"
          aria-selected="true"><%= reporting[property].campaignTarget %></a>


        <% } %>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <% for(const property in reporting) { %>

      <div class="tab-pane fade<% if(reporting[property].campaignLabel === 'ensemble') { %> show active <% } %>"
        id="nav-<%= reporting[property].campaignLabel %>" role="tabpanel"
        aria-labelledby="nav-<%= reporting[property].campaignLabel %>-tab">
        <ul class="list-group list-group-flush">


       
        </ul>

        <div class="row p-3 mt-2 ml-2 mr-2 bg-default text-white bg-opacity-75 rounded info_generale"  id="info_generale_<%= reporting[property].campaignLabel %>">

          <div style="padding-left: 10px;">
            <div class="row">

              <h3 class="title"><strong>Résumé</strong></h3>
              <div id="info">

                <button id="boutton-info" class="btn" data-toggle="collapse"
                  data-target="#<%= reporting[property].campaignLabel %>" aria-expanded="false"
                  aria-controls="<%= reporting[property].campaignLabel %>">
                  <i class="fas fa-info-circle"></i>
                </button>
              </div>
            </div>

          </div>

          <div class="container">

            <ul class="list-group list-group-flush list-unstyled">
              <li>Couverture : <% if(reporting[property].campaignChannel.Couverture) { %>
                <strong><%= reporting[property].campaignChannel.Couverture %>%</strong> <% } %> des
                Réunionnais de la cible<% if(reporting[property]) { %>
                <strong><%= reporting[property].campaignTarget %></strong> <% } %> sont exposés à
                la
                campagne​.</li>
              <li>La répétition est de : <% if(reporting[property].campaignChannel.Répétition) { %>
                <strong><%= reporting[property].campaignChannel.Répétition %></strong> <% } %>
              </li>

              <li>La campagne a généré <% if(reporting[property].campaignChannel['Nombre de contacts']) { %>
                <strong><%= utilities.numStr(Math.round(reporting[property].campaignChannel['Nombre de contacts'])) %></strong>
                <% } %> contacts de <% if(reporting[property]) { %> la cible
                <strong><%= reporting[property].campaignTarget %></strong>
                <% } %>​.</li>
              <li>Nombre de GRP de la cible <% if(reporting[property]) { %>
                <strong><%= reporting[property].campaignTarget %></strong> <% } %>​ :
                <% if(reporting[property].campaignChannel['GRP']) { %>
                <strong><%= reporting[property].campaignChannel['GRP'] %></strong> <% } %> GRP​.</li>
              <li>Coût du GRP moyen : <% if(reporting[property].campaignChannel['Ct GRP']) { %>
                <strong><%= reporting[property].campaignChannel['Ct GRP'] %></strong> <% } %> €​</li>
              <li>Coût pour 1000 contacts :
                <% if(reporting[property].campaignChannel['CPM contacts Net']) { %>
                <strong><%= reporting[property].campaignChannel['CPM contacts Net'] %></strong> <% } %> €​
              </li>
            </ul>

            <div class="collapse" id="<%= reporting[property].campaignLabel %>">
              <hr>
              <div id="content-info_<%= reporting[property].campaignLabel %>">
                <i class="fas fa-info-circle"></i> <strong>GRP</strong> est un indicateur de performance qui associe
                couverture de votre cible multipliée par la répétition.
                (Exemple : <strong><%= reporting[property].campaignChannel.Couverture %> </strong> x
                <strong><%= reporting[property].campaignChannel.Répétition %></strong> =
                <strong><%= reporting[property].campaignChannel['GRP'] %> GRP</strong> ). Plus le GRP de votre campagne est élevé, plus votre campagne est performante.
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-7 col-sm-12 pt-3" id="table_<%= reporting[property].campaignLabel %>_montee_en_couverture">
            <h3 class="title">
              <strong>Montée en couverture et répétition</strong>
            </h3>
            <div class="container">
              <div id="chart_<%= reporting[property].campaignLabel %>-table_montee_en_couverture"></div>
            </div>
          </div>

          <div class="col-md-5 col-sm-12 pt-3 " id="table_<%= reporting[property].campaignLabel %>_couverture_par_cible">
            <h3 class="title">
              <strong>Couverture par cible</strong>
            </h3>
            <div class="container couverture_cible">
              <div id="chart_<%= reporting[property].campaignLabel %>-table_couverture_par_cible"></div>
            </div>
          </div>
        </div>

        <div class="row p-3 mt-5 ml-2 mr-2" id="table_<%= reporting[property].campaignLabel %>_ventilations_GRP_horaires">
          <h3 class="title">
            <strong>Ventilations des GRP par tranche horaires​</strong>
          </h3>
          <div class="container">
            <div id="chart_<%= reporting[property].campaignLabel %>-table_ventilations_GRP_horaires"></div>
          </div>
        </div>

        <div class="row p-3 mt-5 ml-2 mr-2" id="table_<%= reporting[property].campaignLabel %>_ventilations_GRP_jours">
          <h3 class="title">
            <strong>Ventilations des GRP par jours nommés​​</strong>
          </h3>
          <div class="container">
            <div id="chart_<%= reporting[property].campaignLabel %>-table_ventilations_GRP_jours"></div>
          </div>
        </div>


      </div>
      <% } %>








    </div>

    <div class="pt-5 pb-5 text-right"> <a href="/t/export/<%=campaign_crypt%>"
        class="btn btn-xs btn-default  text-white" style="background-color: #3ab33a;"> <i class="fas fa-file-excel">
        </i> Télécharger le rapport <span class="small">(Format : Excel)</span></a> 
      
        <a href="/t/export/pdf/<%=campaign_crypt%>"
          class="btn btn-xs btn-default  text-white" style="background-color: #d30415;"> <i class="fas fa-file-pdf">
          </i> Télécharger le rapport <span class="small">(Format : Pdf)</span></a> 
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <script src="/assets/js/plugins/apexcharts.min.js"></script>

  <%- include("../layouts/manager/tv-charts.ejs") -%>
</body>

</html>