<%- include("../../layouts/manager/head.ejs") -%>

<div class="row">
<div class="col-md-6">
    <div class="card table-card">
        <div class="card-header">
            <h5>Annonceurs</h5>
        </div>
        <div class="pro-scroll">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <ul class="list-group list-group-flush">
                        <% for (let i=0; i < advertisers_last.length; i++) { %>
                        <li class="list-group-item">
                            <a href="/manager/advertisers/<%= advertisers_last[i].advertiser_id %>"
                                title="<%= advertisers_last[i].advertiser_name %>">
                                <%= advertisers_last[i].advertiser_name %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card table-card">
        <div class="card-header">
            <h5>Répartition des annonceurs</h5>
        </div>
        <div class="pro-scroll">
            <div class="card-body p-3">
                <div class="col-md-12">
                    <div id="chart-advertisers"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>



<%- include("../../layouts/manager/footer.ejs") -%>