<%- include("../../layouts/manager/head.ejs") -%>
    <div class="col-sm-12">
        <div class="card" data-advertiser_id="<%= advertiser.advertiser_id %>">
            <div class="card-header">
                <h1><%= advertiser.advertiser_name %></h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="labelname">
                                    <i class="material-icons-two-tone">info</i>
                                    ID</span>:
                           <strong><%= advertiser.advertiser_id %></strong>
                            </li>
                            
                            <li class="list-group-item">
                                <span class="labelname">
                                    <i class="material-icons-two-tone">euro_symbol</i>
                                    Budget dépensé</span>:
                                    <strong><%= epilot_campaigns.campaign_budget %> </strong> €
                            </li>

                            <li class="list-group-item">
                                <span class="labelname">
                                    <i class="material-icons-two-tone">archive</i>
                                    Archive</span>:
                                <% switch(advertiser.advertiser_archived) { case 0: %>
                                    <span class="badge bg-warning">Archiv&eacute;</span>
                                    <% break; default: %>
                                        -
                                        <% break; }  %>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="labelname">
                                                <i class="material-icons-two-tone">content_paste</i>
                                                Campagnes diffusées</span>:
                                            <%= campaigns.length %></li>
                                    </ul>

                                    <hr/>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="labelname">
                                                <i class="material-icons-two-tone">history</i>
                                                Dernière mise à jour</span>:
                                            <%= moment(advertiser.updated_at).format('DD/MM/YYYY'); %></li>
                                    </ul>
                                </div>

                                <div class="col-md-4 col-sm-12">

                                    <div class="d-grid gap-2">
                                        <a
                                            href="https://manage.smartadserver.com/gestion/smartprog2.asp?AnnonceurID=<%=advertiser.advertiser_id%>"
                                            target="_blank"
                                            class="btn btn-warning"
                                            title="Voir sur SMARTADSERVER">
                                            <i class="material-icons-two-tone">send</i>
                                            Accéder à SMARTADSERVER</a>

                                            <a href="/automate/advertisers/campaigns?advertiser_id=<%=advertiser.advertiser_id%>" target="_blank" class="btn btn-info" data-automate="advertiser-campaigns" title="Mettre à jour les campagnes"><i class="fas fa-sync"></i> Mettre à jour les campagnes</a>

                                            <a href="/automate/advertiser?advertiser_id=<%=advertiser.advertiser_id%>" target="_blank"
                                                class="btn btn-info btn-automate" data-automate-btn="campaign-update"
                                                title=" Mettre à jour l'annonceur">
                                                <i class="fas fa-sync"></i>
                                                Mettre à jour l'annonceur</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>KPI</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-advertisers"></div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-12" id="advertiser-campaigns">
                    <div class="card">
                        <div class="card-header">
                            <h3>Campagnes</h3>
                        </div>
                        <div class="card-body">
                          
                                <% if(campaigns && (campaigns.length > 0)) { %>
                                    <%- include("../inc/table_campaigns.ejs") -%> 
                                <% } else { %>
                                    <div class="alert alert-warning" role="alert" data-automate="advertiser-campaigns">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                          </svg> Aucune campagne pour cet annonceur.
                                    </div> 
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <%- include("../../layouts/manager/footer.ejs") -%>